/*#region Constants */
/*#endregion */
@media screen and (max-width: 1500px) {
  .custom-button {
    width: 300px;
    padding: 4px 0 8px;
    font-size: 24px;
  }
  .main-wrapper {
    width: 1200px;
  }
  header {
    padding: 15px 5%;
  }
  header .logo {
    width: 153px;
    height: 33px;
    margin: 9px 50px 9px 0;
    background-size: 153px 33px;
  }
  header nav ul li {
    margin: 9px 20px;
    font-size: 24px;
  }
  header .login {
    margin: 10px 26px;
    font-size: 24px;
  }
  header .custom-button {
    width: 195px;
    padding: 4px 0 8px;
    font-size: 24px;
  }
  footer {
    padding: 17px 5%;
  }
  .blog-wrapper {
    padding-top: 81px;
  }
  .blog-wrapper .welcome {
    padding: 70px 0;
  }
  .blog-wrapper .welcome h1 {
    font-size: 60px;
  }
  .blog-wrapper .welcome h3 {
    font-size: 22px;
  }
  .blog-wrapper .posts {
    padding: 120px 0 0;
  }
  .blog-wrapper .posts .main-wrapper {
    width: 1200px;
  }
  .blog-wrapper .posts .main-wrapper .post {
    width: 24%;
    margin: 0 4.6% 100px;
  }
  .blog-wrapper .posts .main-wrapper .post .timestamp {
    font-size: 20px;
  }
  .blog-wrapper .posts .main-wrapper .post .title {
    margin-bottom: 20px;
    line-height: 34px;
    font-size: 26px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter {
    padding: 24px 28px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter .label {
    font-size: 22px;
  }
  .blog-wrapper .today .left-part {
    padding: 10% 11%;
  }
  .blog-wrapper .today .left-part h3 {
    font-size: 22px;
  }
  .blog-wrapper .today .left-part h2 {
    margin: 20px 0;
    font-size: 45px;
  }
  .blog-wrapper .today .left-part p {
    line-height: 38px;
    font-size: 22px;
  }
  .faq-wrapper {
    padding-top: 81px;
  }
  .faq-wrapper .welcome {
    padding: 70px 0;
  }
  .faq-wrapper .welcome h1 {
    font-size: 60px;
  }
  .faq-wrapper .welcome h3 {
    font-size: 22px;
  }
  .faq-wrapper .faqs {
    padding: 100px 0;
  }
  .faq-wrapper .faqs .main-wrapper {
    display: block;
    width: 1200px;
  }
  .faq-wrapper .faqs .main-wrapper .accordion {
    padding: 40px 110px;
    font-size: 24px;
  }
  .faq-wrapper .faqs .main-wrapper .accordion .toggle {
    top: 40px;
  }
  .faq-wrapper .faqs .main-wrapper .panel {
    font-size: 22px;
  }
  .about-wrapper {
    padding-top: 81px;
  }
  .about-wrapper .welcome {
    padding: 70px 0;
  }
  .about-wrapper .welcome .main-wrapper {
    width: 1200px;
  }
  .about-wrapper .welcome .main-wrapper .img {
    width: 350px;
    height: 350px;
  }
  .about-wrapper .welcome .main-wrapper .content .title {
    margin: 55px 0 20px;
    font-size: 50px;
  }
  .about-wrapper .welcome .main-wrapper .content .text {
    line-height: 38px;
    font-size: 24px;
  }
  .about-wrapper .note {
    padding: 100px 0;
  }
  .about-wrapper .note .letter {
    width: 800px;
    padding: 70px 100px;
  }
  .about-wrapper .note .letter .title {
    font-size: 36px;
  }
  .about-wrapper .note .letter p {
    line-height: 34px;
    font-size: 20px;
  }
  .about-wrapper .advisors .top-part {
    padding: 70px 0 60px;
  }
  .about-wrapper .advisors .top-part .title {
    font-size: 66px;
  }
  .about-wrapper .advisors .top-part .info {
    line-height: 38px;
    font-size: 26px;
  }
  .about-wrapper .advisors .top-part .custom-button {
    bottom: -25px;
  }
  .about-wrapper .advisors .advisors-box {
    padding-top: 140px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper {
    width: 1200px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper:after {
    right: 150px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor {
    margin-bottom: 150px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .img {
    width: 300px;
    height: 300px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content {
    width: 780px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .name {
    font-size: 40px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .title {
    margin: 0 0 20px;
    line-height: 26px;
    font-size: 20px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .text {
    height: 160px;
    line-height: 40px;
    font-size: 24px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .text .read-more {
    top: 108px;
  }
  .about-wrapper .advisors .bottom-part {
    height: 100px;
  }
  .about-wrapper .how .top-part {
    padding: 80px 0;
  }
  .about-wrapper .how .top-part .title {
    font-size: 66px;
  }
  .about-wrapper .how .top-part .subtitle {
    font-size: 24px;
  }
  .about-wrapper .how .bottom-part .main-wrapper {
    width: 1200px;
    padding-top: 120px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item {
    margin-bottom: 120px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .img {
    width: 300px;
    height: 300px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .subtitle {
    font-size: 20px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .title {
    margin-bottom: 25px;
    line-height: 46px;
    font-size: 38px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .text {
    line-height: 38px;
    font-size: 24px;
  }
  .about-wrapper .today .left-part {
    padding: 10% 11%;
  }
  .about-wrapper .today .left-part h3 {
    font-size: 22px;
  }
  .about-wrapper .today .left-part h2 {
    margin: 20px 0;
    font-size: 45px;
  }
  .about-wrapper .today .left-part p {
    line-height: 38px;
    font-size: 22px;
  }
  .hiw-wrapper {
    padding-top: 81px;
  }
  .hiw-wrapper .register {
    padding: 7% 0;
  }
  .hiw-wrapper .register .main-wrapper {
    width: 900px;
  }
  .hiw-wrapper .register .main-wrapper h1 {
    font-size: 66px;
  }
  .hiw-wrapper .register .main-wrapper p {
    margin-bottom: 60px;
    font-size: 26px;
  }
  .hiw-wrapper .approach .left-part .img {
    width: 500px;
    height: 800px;
  }
  .hiw-wrapper .approach .left-part .img.first {
    background-size: 500px;
  }
  .hiw-wrapper .approach .left-part .img.second {
    background-size: 500px;
  }
  .hiw-wrapper .approach .left-part .img.second video {
    top: 227px;
    left: 146px;
    width: 193px;
  }
  .hiw-wrapper .approach .left-part .img.third {
    background-size: 500px;
  }
  .hiw-wrapper .approach .left-part .img.third video {
    top: 231px;
    left: 146px;
    width: 193px;
  }
  .hiw-wrapper .approach .left-part .img.fourth {
    background-size: 500px;
  }
  .hiw-wrapper .approach .left-part .img.fourth video {
    top: 227px;
    left: 146px;
    width: 193px;
  }
  .hiw-wrapper .approach .right-part {
    width: 60%;
    padding: 0 6% 0 0;
  }
  .hiw-wrapper .approach .right-part .step-item {
    width: 30%;
    padding: 75px 3% 0 17%;
  }
  .hiw-wrapper .approach .right-part .step-item .icon {
    left: 13%;
  }
  .hiw-wrapper .today .left-part {
    padding: 10% 11%;
  }
  .hiw-wrapper .today .left-part h3 {
    font-size: 22px;
  }
  .hiw-wrapper .today .left-part h2 {
    margin: 20px 0;
    font-size: 45px;
  }
  .hiw-wrapper .today .left-part p {
    line-height: 38px;
    font-size: 22px;
  }
  .home-wrapper {
    padding-top: 81px;
  }
  .home-wrapper .welcome .text h1 {
    font-size: 70px;
  }
  .home-wrapper .welcome .text p {
    font-size: 30px;
  }
  .home-wrapper .experience {
    padding: 340px 0 270px;
  }
  .home-wrapper .experience .main-wrapper {
    width: 1200px;
  }
  .home-wrapper .experience .main-wrapper .content .title {
    font-size: 46px;
  }
  .home-wrapper .experience .main-wrapper .content .text {
    line-height: 42px;
    font-size: 26px;
  }
  .home-wrapper .experience .main-wrapper .content .custom-button {
    background-size: 30px;
  }
  .home-wrapper .experience .main-wrapper .img {
    width: 350px;
    height: 350px;
  }
  .home-wrapper .sensor {
    padding: 195px 0;
  }
  .home-wrapper .sensor .main-wrapper {
    width: 1200px;
  }
  .home-wrapper .sensor .main-wrapper .content .subtitle {
    font-size: 22px;
  }
  .home-wrapper .sensor .main-wrapper .content .title {
    font-size: 46px;
  }
  .home-wrapper .sensor .main-wrapper .content .text {
    line-height: 42px;
    font-size: 26px;
  }
  .home-wrapper .sensor .main-wrapper .content .custom-button {
    background-size: 30px;
  }
  .home-wrapper .sensor .main-wrapper .img {
    width: 350px;
    height: 350px;
  }
  .home-wrapper .coaching {
    padding: 350px 0 340px;
  }
  .home-wrapper .coaching .main-wrapper {
    width: 1200px;
  }
  .home-wrapper .coaching .main-wrapper .content .subtitle {
    font-size: 22px;
  }
  .home-wrapper .coaching .main-wrapper .content .title {
    font-size: 46px;
  }
  .home-wrapper .coaching .main-wrapper .content .text {
    line-height: 42px;
    font-size: 26px;
  }
  .home-wrapper .coaching .main-wrapper .content .custom-button {
    background-size: 30px;
  }
  .home-wrapper .coaching .main-wrapper .img {
    width: 350px;
    height: 350px;
  }
  .home-wrapper .tools {
    padding: 320px 0 266px;
  }
  .home-wrapper .tools .main-wrapper {
    width: 1200px;
  }
  .home-wrapper .tools .main-wrapper .content .subtitle {
    font-size: 22px;
  }
  .home-wrapper .tools .main-wrapper .content .title {
    font-size: 46px;
  }
  .home-wrapper .tools .main-wrapper .content .text {
    line-height: 42px;
    font-size: 26px;
  }
  .home-wrapper .tools .main-wrapper .content .custom-button {
    background-size: 30px;
  }
  .home-wrapper .tools .main-wrapper .img {
    width: 350px;
    height: 350px;
  }
  .home-wrapper .quotes .main-wrapper {
    width: calc(100% - 360px);
    padding: 80px 180px;
  }
  .home-wrapper .quotes .main-wrapper .quote .content {
    font-size: 28px;
  }
  .home-wrapper .privacy {
    padding: 130px 0;
  }
  .home-wrapper .today .left-part {
    padding: 10% 11%;
  }
  .home-wrapper .today .left-part h3 {
    font-size: 22px;
  }
  .home-wrapper .today .left-part h2 {
    margin: 20px 0;
    font-size: 45px;
  }
  .home-wrapper .today .left-part p {
    line-height: 38px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1300px) {
  .main-wrapper {
    width: 900px;
  }
  .custom-button {
    width: 250px;
    padding: 4px 0 6px;
    font-size: 20px;
  }
  header {
    width: 94%;
    padding: 15px 3%;
  }
  header .logo {
    width: 138px;
    height: 29px;
    margin: 7px 30px 7px 0;
    background-size: 138px 29px;
  }
  header nav ul li {
    margin: 7px 10px;
    font-size: 22px;
  }
  header .login {
    margin: 8px 26px;
    font-size: 22px;
  }
  header .custom-button {
    width: 180px;
    padding: 3px 0 6px;
    font-size: 22px;
  }
  footer {
    width: 94%;
    padding: 15px 3%;
  }
  footer .logo {
    margin-right: 20px;
  }
  footer .link,
  footer .copy {
    margin: 17px 10px 13px;
    font-size: 14px;
  }
  .blog-wrapper {
    padding-top: 75px;
  }
  .blog-wrapper .welcome {
    padding: 50px 0;
  }
  .blog-wrapper .welcome h1 {
    font-size: 50px;
  }
  .blog-wrapper .welcome h3 {
    font-size: 18px;
  }
  .blog-wrapper .posts {
    padding: 80px 0 0;
  }
  .blog-wrapper .posts .main-wrapper {
    width: 900px;
  }
  .blog-wrapper .posts .main-wrapper .post {
    margin: 0 4.6% 60px;
  }
  .blog-wrapper .posts .main-wrapper .post img {
    margin-bottom: 15px;
  }
  .blog-wrapper .posts .main-wrapper .post .timestamp {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .blog-wrapper .posts .main-wrapper .post .title {
    margin-bottom: 10px;
    line-height: 26px;
    font-size: 20px;
  }
  .blog-wrapper .posts .main-wrapper .post .text {
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
  }
  .blog-wrapper .posts .main-wrapper .post .custom-button {
    width: 180px;
    font-size: 16px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter {
    width: calc(24% - 30px);
    height: 186px;
    padding: 15px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter .label {
    font-size: 16px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter .send-email input {
    width: calc(100% - 40px);
    padding: 5px;
    font-size: 14px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter .send-email .send-button {
    width: 33px;
    height: 33px;
    background-size: 70%;
  }
  .blog-wrapper .today .left-part {
    padding: 5% 11%;
  }
  .blog-wrapper .today .left-part h3 {
    font-size: 18px;
  }
  .blog-wrapper .today .left-part h2 {
    margin: 10px 0;
    font-size: 38px;
  }
  .blog-wrapper .today .left-part p {
    line-height: 30px;
    font-size: 18px;
  }
  .faq-wrapper {
    padding-top: 75px;
  }
  .faq-wrapper .welcome {
    padding: 50px 0;
  }
  .faq-wrapper .welcome h1 {
    font-size: 50px;
  }
  .faq-wrapper .welcome h3 {
    font-size: 18px;
  }
  .faq-wrapper .faqs {
    padding: 70px 0;
  }
  .faq-wrapper .faqs .main-wrapper {
    width: 900px;
  }
  .faq-wrapper .faqs .main-wrapper .accordion {
    width: calc(100% - 160px);
    padding: 30px 80px;
    font-size: 20px;
  }
  .faq-wrapper .faqs .main-wrapper .accordion .toggle {
    top: 28px;
    right: 60px;
  }
  .faq-wrapper .faqs .main-wrapper .panel {
    width: calc(100% - 160px);
    padding: 0 80px;
    line-height: 30px;
    font-size: 18px;
  }
  .faq-wrapper .faqs .main-wrapper .panel p:first-of-type {
    margin-top: 35px;
  }
  .faq-wrapper .faqs .main-wrapper .panel p:last-of-type {
    margin-bottom: 35px;
  }
  .about-wrapper {
    padding-top: 75px;
  }
  .about-wrapper .welcome {
    padding: 50px 0;
  }
  .about-wrapper .welcome .main-wrapper {
    width: 900px;
  }
  .about-wrapper .welcome .main-wrapper .content {
    width: 480px;
  }
  .about-wrapper .welcome .main-wrapper .content .title {
    margin: 30px 0 15px;
    font-size: 43px;
  }
  .about-wrapper .welcome .main-wrapper .content .text {
    line-height: 32px;
    font-size: 20px;
  }
  .about-wrapper .welcome .main-wrapper .img {
    width: 300px;
    height: 300px;
  }
  .about-wrapper .note {
    padding: 50px 0;
  }
  .about-wrapper .note .letter {
    width: 700px;
    padding: 50px 70px;
  }
  .about-wrapper .note .letter .title {
    font-size: 30px;
  }
  .about-wrapper .note .letter p {
    line-height: 30px;
    font-size: 16px;
  }
  .about-wrapper .advisors .top-part {
    padding: 50px 0 60px;
  }
  .about-wrapper .advisors .top-part .title {
    font-size: 54px;
  }
  .about-wrapper .advisors .top-part .info {
    line-height: 32px;
    font-size: 22px;
  }
  .about-wrapper .advisors .top-part .custom-button {
    bottom: -22px;
  }
  .about-wrapper .advisors .bottom-part {
    height: 70px;
  }
  .about-wrapper .advisors .bottom-part .custom-button {
    top: -22px;
  }
  .about-wrapper .advisors .advisors-box {
    padding-top: 100px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper {
    width: 900px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper:after {
    right: 130px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor {
    margin-bottom: 100px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content {
    width: 580px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .name {
    margin: 0 0 15px;
    font-size: 34px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .title {
    line-height: 22px;
    font-size: 18px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .text {
    height: 120px;
    line-height: 32px;
    font-size: 20px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .img {
    width: 260px;
    height: 260px;
  }
  .about-wrapper .how .top-part {
    padding: 60px 0;
  }
  .about-wrapper .how .top-part .title {
    font-size: 54px;
  }
  .about-wrapper .how .top-part .subtitle {
    font-size: 20px;
  }
  .about-wrapper .how .bottom-part .main-wrapper {
    width: 900px;
    padding-top: 80px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item {
    margin-bottom: 80px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content {
    width: 540px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .subtitle {
    font-size: 18px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .title {
    margin-bottom: 22px;
    line-height: 36px;
    font-size: 30px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .separator {
    margin-bottom: 20px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .text {
    line-height: 30px;
    font-size: 18px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .img {
    width: 260px;
    height: 260px;
  }
  .about-wrapper .today .left-part {
    padding: 5% 11%;
  }
  .about-wrapper .today .left-part h3 {
    font-size: 18px;
  }
  .about-wrapper .today .left-part h2 {
    margin: 10px 0;
    font-size: 38px;
  }
  .about-wrapper .today .left-part p {
    line-height: 30px;
    font-size: 18px;
  }
  .hiw-wrapper {
    padding-top: 75px;
  }
  .hiw-wrapper .register {
    padding: 5% 0;
  }
  .hiw-wrapper .register .main-wrapper {
    width: 800px;
  }
  .hiw-wrapper .register .main-wrapper h1 {
    font-size: 56px;
  }
  .hiw-wrapper .register .main-wrapper p {
    margin-bottom: 40px;
    font-size: 22px;
  }
  .hiw-wrapper .info .right-part h3 {
    font-size: 24px;
  }
  .hiw-wrapper .info .right-part h2 {
    font-size: 36px;
  }
  .hiw-wrapper .info .right-part p {
    line-height: 32px;
    font-size: 20px;
  }
  .hiw-wrapper .approach .left-part .img {
    width: 300px;
    height: 500px;
  }
  .hiw-wrapper .approach .left-part .img.first {
    background-size: 300px;
  }
  .hiw-wrapper .approach .left-part .img.second {
    background-size: 300px;
  }
  .hiw-wrapper .approach .left-part .img.second video {
    top: 147px;
    left: 88px;
    width: 117px;
  }
  .hiw-wrapper .approach .left-part .img.third {
    background-size: 300px;
  }
  .hiw-wrapper .approach .left-part .img.third video {
    top: 147px;
    left: 88px;
    width: 117px;
  }
  .hiw-wrapper .approach .left-part .img.fourth {
    background-size: 300px;
  }
  .hiw-wrapper .approach .left-part .img.fourth video {
    top: 147px;
    left: 88px;
    width: 117px;
  }
  .hiw-wrapper .approach .right-part {
    width: 62%;
    padding: 0 4% 50px 0;
  }
  .hiw-wrapper .approach .right-part .step-item {
    width: 35%;
    padding: 75px 1% 0 14%;
  }
  .hiw-wrapper .approach .right-part .step-item .icon {
    left: 4%;
    width: 50px;
    height: 50px;
  }
  .hiw-wrapper .approach .right-part .step-item .title {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .hiw-wrapper .approach .right-part .step-item .text {
    line-height: 24px;
    font-size: 15px;
  }
  .hiw-wrapper .stages .main-wrapper {
    width: 90%;
    padding: 60px 5% 70px;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage {
    padding: 40px 5%;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage p {
    font-size: 18px;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage .chart {
    right: 5%;
    width: 300px;
    height: 300px;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage .chart .value {
    line-height: 280px;
    font-size: 90px;
  }
  .hiw-wrapper .stages .main-wrapper .content .move.left {
    left: -47px;
  }
  .hiw-wrapper .stages .main-wrapper .content .move.right {
    right: -47px;
  }
  .hiw-wrapper .today .left-part {
    padding: 5% 11%;
  }
  .hiw-wrapper .today .left-part h3 {
    font-size: 18px;
  }
  .hiw-wrapper .today .left-part h2 {
    margin: 10px 0;
    font-size: 38px;
  }
  .hiw-wrapper .today .left-part p {
    line-height: 30px;
    font-size: 18px;
  }
  .home-wrapper {
    padding-top: 75px;
  }
  .home-wrapper .welcome .text h1 {
    font-size: 50px;
  }
  .home-wrapper .welcome .text p {
    font-size: 24px;
  }
  .home-wrapper .experience {
    padding: 240px 0 170px;
  }
  .home-wrapper .experience .main-wrapper {
    width: 900px;
  }
  .home-wrapper .experience .main-wrapper .content {
    width: 480px;
  }
  .home-wrapper .experience .main-wrapper .content .title {
    font-size: 36px;
  }
  .home-wrapper .experience .main-wrapper .content .text {
    line-height: 32px;
    font-size: 18px;
  }
  .home-wrapper .experience .main-wrapper .content .custom-button {
    background-size: 23px;
  }
  .home-wrapper .experience .main-wrapper .img {
    width: 300px;
    height: 300px;
  }
  .home-wrapper .sensor {
    padding: 95px 0;
  }
  .home-wrapper .sensor .main-wrapper {
    width: 900px;
  }
  .home-wrapper .sensor .main-wrapper .content {
    width: 480px;
  }
  .home-wrapper .sensor .main-wrapper .content .subtitle {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .home-wrapper .sensor .main-wrapper .content .title {
    margin: 0 0 20px;
    line-height: 42px;
    font-size: 36px;
  }
  .home-wrapper .sensor .main-wrapper .content .separator {
    margin-bottom: 20px;
  }
  .home-wrapper .sensor .main-wrapper .content .text {
    line-height: 32px;
    font-size: 18px;
  }
  .home-wrapper .sensor .main-wrapper .content .custom-button {
    background-size: 23px;
  }
  .home-wrapper .sensor .main-wrapper .img {
    width: 300px;
    height: 300px;
  }
  .home-wrapper .coaching {
    padding: 250px 0 240px;
  }
  .home-wrapper .coaching .main-wrapper {
    width: 900px;
  }
  .home-wrapper .coaching .main-wrapper .content {
    width: 480px;
  }
  .home-wrapper .coaching .main-wrapper .content .subtitle {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .home-wrapper .coaching .main-wrapper .content .title {
    margin: 0 0 20px;
    line-height: 42px;
    font-size: 36px;
  }
  .home-wrapper .coaching .main-wrapper .content .separator {
    margin-bottom: 20px;
  }
  .home-wrapper .coaching .main-wrapper .content .text {
    line-height: 32px;
    font-size: 18px;
  }
  .home-wrapper .coaching .main-wrapper .content .custom-button {
    background-size: 23px;
  }
  .home-wrapper .coaching .main-wrapper .img {
    width: 300px;
    height: 300px;
  }
  .home-wrapper .tools {
    padding: 120px 0 166px;
  }
  .home-wrapper .tools .main-wrapper {
    width: 900px;
  }
  .home-wrapper .tools .main-wrapper .content {
    width: 480px;
  }
  .home-wrapper .tools .main-wrapper .content .subtitle {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .home-wrapper .tools .main-wrapper .content .title {
    margin: 0 0 20px;
    line-height: 42px;
    font-size: 36px;
  }
  .home-wrapper .tools .main-wrapper .content .separator {
    margin-bottom: 20px;
  }
  .home-wrapper .tools .main-wrapper .content .text {
    line-height: 32px;
    font-size: 18px;
  }
  .home-wrapper .tools .main-wrapper .content .custom-button {
    background-size: 23px;
  }
  .home-wrapper .tools .main-wrapper .img {
    width: 300px;
    height: 300px;
  }
  .home-wrapper .quotes .main-wrapper {
    width: calc(100% - 240px);
    padding: 50px 120px 10px;
  }
  .home-wrapper .quotes .main-wrapper .quote {
    padding: 100px 70px 30px;
    background-position: center 34px;
    background-size: 40px;
  }
  .home-wrapper .quotes .main-wrapper .quote .content {
    font-size: 22px;
  }
  .home-wrapper .quotes .main-wrapper .quote .client {
    font-size: 20px;
  }
  .home-wrapper .privacy {
    padding: 80px 0;
  }
  .home-wrapper .privacy .main-wrapper {
    width: 900px;
  }
  .home-wrapper .privacy .main-wrapper .info {
    width: 73%;
  }
  .home-wrapper .privacy .main-wrapper .info .title {
    font-size: 30px;
  }
  .home-wrapper .privacy .main-wrapper .info .text {
    line-height: 32px;
    font-size: 20px;
  }
  .home-wrapper .privacy .main-wrapper .info .labels {
    font-size: 20px;
  }
  .home-wrapper .today .left-part {
    padding: 5% 11%;
  }
  .home-wrapper .today .left-part h3 {
    font-size: 18px;
  }
  .home-wrapper .today .left-part h2 {
    margin: 10px 0;
    font-size: 38px;
  }
  .home-wrapper .today .left-part p {
    line-height: 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .main-wrapper {
    width: 700px;
  }
  .custom-button {
    width: 200px;
    font-size: 18px;
  }
  header .logo {
    width: 124px;
    height: 26px;
    margin: 7px 15px 7px 0;
    background-size: 124px 26px;
  }
  header nav ul li {
    margin: 7px 8px;
    font-size: 18px;
  }
  header .login {
    margin: 7px 16px 7px 8px;
    font-size: 18px;
  }
  header .custom-button {
    width: 140px;
    padding: 4px 0 6px;
    font-size: 18px;
  }
  footer .link,
  footer .copy {
    margin: 17px 8px 13px;
    font-size: 12px;
  }
  .blog-wrapper {
    padding-top: 70px;
  }
  .blog-wrapper .welcome h1 {
    font-size: 44px;
  }
  .blog-wrapper .posts {
    padding: 50px 0 0;
  }
  .blog-wrapper .posts .main-wrapper {
    width: 700px;
  }
  .blog-wrapper .posts .main-wrapper .post {
    width: 28%;
    margin: 0 2.6% 60px;
  }
  .blog-wrapper .posts .main-wrapper .post .title {
    font-size: 18px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter {
    width: calc(28% - 30px);
    height: 166px;
    padding: 15px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter .send-email input {
    padding: 7.5px 5px;
    font-size: 12px;
  }
  .blog-wrapper .today .left-part {
    width: 32%;
    padding: 5% 9%;
  }
  .faq-wrapper {
    padding-top: 70px;
  }
  .faq-wrapper .welcome h1 {
    font-size: 44px;
  }
  .faq-wrapper .faqs {
    padding: 50px 0;
  }
  .faq-wrapper .faqs .main-wrapper {
    width: 700px;
  }
  .faq-wrapper .faqs .main-wrapper .accordion {
    width: calc(100% - 80px);
    padding: 25px 40px;
    font-size: 18px;
  }
  .faq-wrapper .faqs .main-wrapper .accordion .toggle {
    right: 20px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
  .faq-wrapper .faqs .main-wrapper .panel {
    width: calc(100% - 80px);
    padding: 0 40px;
    line-height: 28px;
    font-size: 16px;
  }
  .faq-wrapper .faqs .main-wrapper .panel p:first-of-type {
    margin-top: 25px;
  }
  .faq-wrapper .faqs .main-wrapper .panel p:last-of-type {
    margin-bottom: 25px;
  }
  .about-wrapper {
    padding-top: 70px;
  }
  .about-wrapper .welcome .main-wrapper {
    width: 700px;
  }
  .about-wrapper .welcome .main-wrapper .content {
    width: 380px;
  }
  .about-wrapper .welcome .main-wrapper .content .title {
    font-size: 38px;
  }
  .about-wrapper .welcome .main-wrapper .content .text {
    line-height: 28px;
    font-size: 17px;
  }
  .about-wrapper .welcome .main-wrapper .img {
    width: 250px;
    height: 250px;
  }
  .about-wrapper .note .letter {
    width: 500px;
    padding: 50px 70px;
  }
  .about-wrapper .note .letter .title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .about-wrapper .note .letter p {
    line-height: 26px;
    font-size: 15px;
  }
  .about-wrapper .advisors .top-part {
    padding: 40px 0 50px;
  }
  .about-wrapper .advisors .top-part .title {
    font-size: 48px;
  }
  .about-wrapper .advisors .top-part .info {
    line-height: 28px;
    font-size: 18px;
  }
  .about-wrapper .advisors .advisors-box {
    padding-top: 60px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper {
    width: 700px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper:after {
    right: 100px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor {
    margin-bottom: 60px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content {
    width: 480px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .name {
    margin: 0 0 10px;
    font-size: 26px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .title {
    width: 100%;
    margin: 0 0 15px;
    font-size: 16px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .text {
    height: 110px;
    line-height: 28px;
    font-size: 16px;
  }
  .about-wrapper .advisors .advisors-box .main-wrapper .advisor .img {
    width: 200px;
    height: 200px;
  }
  .about-wrapper .how .top-part {
    padding: 50px 0;
  }
  .about-wrapper .how .top-part .title {
    font-size: 48px;
  }
  .about-wrapper .how .bottom-part .main-wrapper {
    width: 700px;
    padding-top: 50px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item {
    margin-bottom: 50px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content {
    width: 440px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .subtitle {
    margin: 5px 0;
    font-size: 16px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .title {
    width: 100%;
    margin-bottom: 15px;
    line-height: 32px;
    font-size: 26px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .separator {
    margin-bottom: 15px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .content .text {
    line-height: 26px;
    font-size: 16px;
  }
  .about-wrapper .how .bottom-part .main-wrapper .how-item .img {
    width: 200px;
    height: 200px;
  }
  .about-wrapper .today .left-part {
    width: 32%;
    padding: 5% 9%;
  }
  .hiw-wrapper {
    padding-top: 70px;
  }
  .hiw-wrapper .register:after {
    background-size: 32px 20px;
  }
  .hiw-wrapper .register .main-wrapper {
    width: 600px;
  }
  .hiw-wrapper .register .main-wrapper h1 {
    font-size: 46px;
  }
  .hiw-wrapper .register .main-wrapper p {
    margin-bottom: 30px;
    line-height: 32px;
    font-size: 20px;
  }
  .hiw-wrapper .info .left-part {
    display: none;
  }
  .hiw-wrapper .info .right-part {
    width: 80%;
    padding: 6% 10%;
  }
  .hiw-wrapper .approach .left-part {
    display: none;
  }
  .hiw-wrapper .approach .right-part {
    width: 90%;
    padding: 0 5% 50px;
  }
  .hiw-wrapper .stages .main-wrapper {
    width: 88%;
    padding: 30px 6%;
  }
  .hiw-wrapper .stages .main-wrapper .nav .dot:after {
    font-size: 17px;
  }
  .hiw-wrapper .stages .main-wrapper .content .move.left {
    left: -45px;
  }
  .hiw-wrapper .stages .main-wrapper .content .move.right {
    right: -45px;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage h1 {
    font-size: 50px;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage .chart {
    width: 250px;
    height: 250px;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage .chart .value {
    line-height: 230px;
    font-size: 80px;
  }
  .hiw-wrapper .stages .main-wrapper .content .stage .chart .value:after,
  .hiw-wrapper .stages .main-wrapper .content .stage .chart .value:before {
    top: 23%;
    font-size: 22px;
  }
  .hiw-wrapper .today .left-part {
    width: 32%;
    padding: 5% 9%;
  }
  .home-wrapper {
    padding-top: 70px;
  }
  .home-wrapper .experience {
    padding: 170px 0;
  }
  .home-wrapper .experience .main-wrapper {
    width: 700px;
  }
  .home-wrapper .experience .main-wrapper .content {
    width: 460px;
  }
  .home-wrapper .experience .main-wrapper .content .title {
    font-size: 32px;
  }
  .home-wrapper .experience .main-wrapper .content .text {
    line-height: 26px;
    font-size: 16px;
  }
  .home-wrapper .experience .main-wrapper .img {
    width: 200px;
    height: 200px;
  }
  .home-wrapper .sensor {
    padding: 80px 0;
  }
  .home-wrapper .sensor .main-wrapper {
    width: 700px;
  }
  .home-wrapper .sensor .main-wrapper .content {
    width: 460px;
  }
  .home-wrapper .sensor .main-wrapper .content .subtitle {
    margin: 0 0 10px;
    font-size: 16px;
  }
  .home-wrapper .sensor .main-wrapper .content .title {
    margin: 0 0 15px;
    line-height: 36px;
    font-size: 32px;
  }
  .home-wrapper .sensor .main-wrapper .content .separator {
    margin-bottom: 15px;
  }
  .home-wrapper .sensor .main-wrapper .content .text {
    line-height: 26px;
    font-size: 16px;
  }
  .home-wrapper .sensor .main-wrapper .img {
    width: 200px;
    height: 200px;
  }
  .home-wrapper .coaching {
    padding: 200px 0 210px;
  }
  .home-wrapper .coaching .main-wrapper {
    width: 700px;
  }
  .home-wrapper .coaching .main-wrapper .content {
    width: 460px;
  }
  .home-wrapper .coaching .main-wrapper .content .subtitle {
    margin: 0 0 10px;
    font-size: 16px;
  }
  .home-wrapper .coaching .main-wrapper .content .title {
    margin: 0 0 15px;
    line-height: 36px;
    font-size: 32px;
  }
  .home-wrapper .coaching .main-wrapper .content .separator {
    margin-bottom: 15px;
  }
  .home-wrapper .coaching .main-wrapper .content .text {
    line-height: 26px;
    font-size: 16px;
  }
  .home-wrapper .coaching .main-wrapper .img {
    width: 200px;
    height: 200px;
  }
  .home-wrapper .tools {
    padding: 50px 0 100px;
  }
  .home-wrapper .tools .main-wrapper {
    width: 700px;
  }
  .home-wrapper .tools .main-wrapper .content {
    width: 460px;
  }
  .home-wrapper .tools .main-wrapper .content .subtitle {
    margin: 0 0 10px;
    font-size: 16px;
  }
  .home-wrapper .tools .main-wrapper .content .title {
    margin: 0 0 15px;
    line-height: 36px;
    font-size: 32px;
  }
  .home-wrapper .tools .main-wrapper .content .separator {
    margin-bottom: 15px;
  }
  .home-wrapper .tools .main-wrapper .content .text {
    line-height: 26px;
    font-size: 16px;
  }
  .home-wrapper .tools .main-wrapper .img {
    width: 200px;
    height: 200px;
  }
  .home-wrapper .quotes .main-wrapper .quote {
    padding: 100px 0 30px;
  }
  .home-wrapper .quotes .main-wrapper .quote .content {
    font-size: 20px;
  }
  .home-wrapper .quotes .main-wrapper .quote .client {
    font-size: 18px;
  }
  .home-wrapper .privacy .main-wrapper {
    width: 700px;
  }
  .home-wrapper .privacy .main-wrapper .img {
    width: 150px;
    height: 165px;
    background-size: 150px 165px;
  }
  .home-wrapper .privacy .main-wrapper .info .title {
    font-size: 26px;
  }
  .home-wrapper .privacy .main-wrapper .info .text {
    line-height: 28px;
    font-size: 18px;
  }
  .home-wrapper .privacy .main-wrapper .info .labels {
    font-size: 18px;
  }
  .home-wrapper .today .left-part {
    width: 32%;
    padding: 5% 9%;
  }
}
@media screen and (max-width: 767px) {
  .main-wrapper {
    width: 90%;
  }
  header #main-nav {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20%;
    background-color: #fff;
  }
  header #main-nav nav {
    float: none;
    width: 100%;
  }
  header #main-nav nav ul li {
    display: table;
    margin: 0 auto 25px;
    font-size: 26px;
  }
  header #main-nav .login {
    position: absolute;
    left: 30px;
    bottom: 30px;
    margin: 7px 0;
  }
  header #main-nav .custom-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  header .hamburger {
    display: block;
  }
  footer {
    position: relative;
    width: 100%;
    padding: 0 0 36px;
  }
  footer .logo,
  footer .social {
    display: none;
  }
  footer .copy {
    display: table;
    float: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }
  footer .link {
    width: 90%;
    margin: 0 5%;
    padding: 25px 0;
    font-size: 18px;
    border-bottom: 1px solid #c6c9ca;
    text-align: center;
  }
  footer .link:last-of-type {
    border: none;
  }
  .blog-wrapper .welcome h1 {
    font-size: 40px;
  }
  .blog-wrapper .welcome h3 {
    padding: 0 5%;
  }
  .blog-wrapper .posts {
    position: relative;
    height: 590px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .blog-wrapper .posts .main-wrapper {
    position: absolute;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: auto;
  }
  .blog-wrapper .posts .main-wrapper .post {
    width: 350px;
  }
  .blog-wrapper .posts .main-wrapper .post.newsletter {
    width: 304px;
    height: 223px;
    padding: 17px;
  }
  .blog-wrapper .today .left-part {
    width: 90%;
    padding: 5% 5% 10%;
  }
  .blog-wrapper .today .left-part p {
    margin-bottom: 30px;
  }
  .blog-wrapper .today .right-part {
    display: none;
  }
  .faq-wrapper .welcome h1 {
    font-size: 40px;
    padding: 0 5%;
  }
  .faq-wrapper .welcome h3 {
    padding: 0 5%;
  }
  .faq-wrapper .faqs .main-wrapper {
    width: 90%;
  }
  .faq-wrapper .faqs .main-wrapper .accordion {
    width: calc(100% - 60px);
    padding: 20px 40px 20px 20px;
    font-size: 17px;
  }
  .faq-wrapper .faqs .main-wrapper .accordion .toggle {
    top: calc(50% - 10px);
  }
  .faq-wrapper .faqs .main-wrapper .panel {
    width: calc(100% - 40px);
    padding: 0 20px;
    line-height: 24px;
    font-size: 15px;
  }
}