@import "_variables.less";

/*#region Fonts*/
/*#endregion */

/*#region Defaults*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    margin: 0;
    font-size: 22px;
    font-family: 'GothamRounded-Medium', sans-serif;
    color: @gray;
    background-color: @w;
}

.clear {
    clear: both;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

input,
textarea,
button {
    outline: none;
}

.main-wrapper {
    display: table;
    width: 1900px;
    margin: 0 auto;
}

/*#endregion*/
