/*#region Constants */
/*#endregion */
/*#region Fonts*/
@font-face {
  font-family: 'GothamRounded-Light';
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Light.woff') format('woff'), url('../fonts/GothamRounded-Light.ttf') format('truetype'), url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Book.woff') format('woff'), url('../fonts/GothamRounded-Book.ttf') format('truetype'), url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Medium.woff') format('woff'), url('../fonts/GothamRounded-Medium.ttf') format('truetype'), url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Bold.woff') format('woff'), url('../fonts/GothamRounded-Bold.ttf') format('truetype'), url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaisonNeue-Book';
  src: url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/MaisonNeue-Book.woff') format('woff'), url('../fonts/MaisonNeue-Book.ttf') format('truetype'), url('../fonts/MaisonNeue-Book.svg#MaisonNeue-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaisonNeue-Medium';
  src: url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/MaisonNeue-Medium.woff') format('woff'), url('../fonts/MaisonNeue-Medium.ttf') format('truetype'), url('../fonts/MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaisonNeue-Bold';
  src: url('../fonts/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MaisonNeue-Bold.woff') format('woff'), url('../fonts/MaisonNeue-Bold.ttf') format('truetype'), url('../fonts/MaisonNeue-Bold.svg#MaisonNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*#endregion*/
/*#region Defaults*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
html {
  height: 1500px;
  font-size: 0;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'GothamRounded-Medium', sans-serif;
  color: #3e3935;
  background-color: #fff;
}
.center {
  display: table;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
input,
textarea,
button {
  outline: none;
}
.main-wrapper {
  display: table;
  width: 1900px;
  margin: 0 auto;
}
.custom-button {
  width: 360px;
  padding: 6px 0 10px;
  border: 3px solid #ff6e19;
  border-radius: 40px;
  text-align: center;
  font-size: 28px;
  font-family: 'GothamRounded-Medium', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: #ff6e19;
  background-color: #fff;
  cursor: pointer;
}
.custom-button:hover {
  box-shadow: none;
  color: #fff;
  background-color: #ff6e19;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 110, 25, 0.5);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 110, 25, 0.5);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 110, 25, 0.5);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 110, 25, 0.5);
}
/*#endregion*/
/*#region Layout*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 22px 5%;
  color: #3e3935;
  background-color: #fff;
  z-index: 7;
}
header .logo {
  /*width: 145px;
        height: 35px;*/
  width: 170px;
  height: 37px;
  margin: 11px 74px 11px 0;
  background: url(../images/logo.png) 0 0 no-repeat;
  background-size: 170px 37px;
  cursor: pointer;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin: 11px 26px;
  list-style-type: none;
  font-size: 28px;
  font-family: 'GothamRounded-Book', sans-serif;
  cursor: pointer;
}
header nav ul li:hover,
header nav ul li.active {
  border-bottom: 1.5px solid #ff6e19;
}
header .custom-button {
  width: 215px;
}
header .login {
  margin: 12px 26px;
  font-size: 28px;
  font-family: 'GothamRounded-Book', sans-serif;
  cursor: pointer;
}
header .login:hover {
  color: #ff6e19;
}
footer {
  display: table;
  width: 90%;
  padding: 30px 5%;
}
footer .logo {
  width: 45px;
  height: 45px;
  margin-right: 45px;
  background: url(../images/small-logo.png) 0 0 no-repeat;
  background-size: 45px;
}
footer .link,
footer .copy {
  margin: 17px 25px 13px;
  font-size: 16px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #a5b0b7;
  cursor: pointer;
}
footer .link:hover,
footer .copy:hover {
  color: #ff6e19;
}
footer .copy {
  cursor: default;
}
footer .copy:hover {
  color: #a5b0b7;
}
/*#endregion*/
/*#region Home page*/
.home-wrapper {
  padding-top: 104px;
}
.home-wrapper .welcome {
  /*height: 1100px;*/
}
.home-wrapper .welcome .parallax {
  position: fixed;
}
.home-wrapper .welcome .l10 {
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
}
.home-wrapper .welcome .l9 {
  top: 100px;
  left: 7%;
  margin-top: 0;
  -moz-animation: cloud1 40s infinite;
  -o-animation: cloud1 40s infinite;
  -webkit-animation: cloud1 40s infinite;
  animation: cloud1 40s infinite;
}
.home-wrapper .welcome .l8 {
  top: 100px;
  left: 69%;
  margin-top: 0;
  -moz-animation: cloud2 40s infinite;
  -o-animation: cloud2 40s infinite;
  -webkit-animation: cloud2 40s infinite;
  animation: cloud2 40s infinite;
}
.home-wrapper .welcome .l7 {
  top: -10px;
  left: 0;
  right: 0;
  margin-top: -0.3rem;
}
.home-wrapper .welcome .l6 {
  top: 30px;
  left: 0;
  right: 0;
  margin-top: -0.6rem;
}
.home-wrapper .welcome .l5 {
  top: -5px;
  left: 0;
  right: 0;
  margin-top: -0.8rem;
}
.home-wrapper .welcome .l4 {
  top: 22px;
  left: 0;
  right: 0;
  margin-top: -1.3rem;
}
.home-wrapper .welcome .text {
  top: 46%;
  left: 50%;
  width: 64%;
  margin-top: -2rem;
  text-align: center;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'GothamRounded-Light', sans-serif;
  color: #fff;
  z-index: 6;
}
.home-wrapper .welcome .text h1 {
  margin: 0;
  font-size: 90px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.home-wrapper .welcome .text p {
  margin: 20px 0 50px;
  font-size: 35px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.home-wrapper .welcome .l3 {
  top: 40px;
  left: 0;
  margin-top: -2.5rem;
}
.home-wrapper .welcome .l2 {
  top: 10px;
  right: 0;
  margin-top: -3rem;
}
.home-wrapper .welcome .l1 {
  top: 10px;
  left: 0;
  margin-top: -3.5rem;
}
@keyframes cloud1 {
  0% {
    left: 7%;
  }
  50% {
    left: 27%;
  }
  100% {
    left: 7%;
  }
}
@keyframes cloud2 {
  0% {
    left: 69%;
  }
  50% {
    left: 89%;
  }
  100% {
    left: 69%;
  }
}
.home-wrapper .experience {
  position: relative;
  /*top: -300px;*/
  padding: 390px 0 320px;
  background: url(../images/experience-bck.png) top center no-repeat;
  background-size: cover;
}
.home-wrapper .experience .main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1460px;
}
.home-wrapper .experience .main-wrapper .content {
  width: 780px;
  color: #fff;
}
.home-wrapper .experience .main-wrapper .content .title {
  margin: 0 0 20px;
  font-size: 55px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .experience .main-wrapper .content .text {
  margin-bottom: 13px;
  line-height: 48px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .experience .main-wrapper .img {
  width: 450px;
  height: 450px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.home-wrapper .sensor {
  position: relative;
  /*top: -410px;*/
  padding: 245px 0;
  /*background: url(../images/sensor-bck.png) top center no-repeat;
        background-size: cover;*/
  z-index: 1;
}
.home-wrapper .sensor .bck {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  height: 1157px;
  background: url(../images/sensor-bck.png) top center no-repeat;
  background-size: cover;
  z-index: -1;
}
.home-wrapper .sensor .main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1460px;
}
.home-wrapper .sensor .main-wrapper .content {
  width: 780px;
  color: #fff;
}
.home-wrapper .sensor .main-wrapper .content .subtitle {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
}
.home-wrapper .sensor .main-wrapper .content .title {
  width: 450px;
  margin: 0 0 30px;
  line-height: 52px;
  font-size: 44px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .sensor .main-wrapper .content .separator {
  width: 135px;
  height: 1px;
  margin-bottom: 30px;
  background-color: #ffb819;
}
.home-wrapper .sensor .main-wrapper .content .text {
  margin-bottom: 13px;
  line-height: 48px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .sensor .main-wrapper .img {
  width: 450px;
  height: 450px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.home-wrapper .coaching {
  position: relative;
  /*top: -565px;*/
  padding: 400px 0 390px;
  /*background: url(../images/coaching-bck.png) top center no-repeat;
        background-size: cover;*/
  z-index: 2;
}
.home-wrapper .coaching .bck {
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  height: 1236px;
  background: url(../images/coaching-bck.png) top center no-repeat;
  background-size: cover;
  z-index: -1;
}
.home-wrapper .coaching .main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1460px;
}
.home-wrapper .coaching .main-wrapper .content {
  width: 780px;
  color: #fff;
}
.home-wrapper .coaching .main-wrapper .content .subtitle {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
}
.home-wrapper .coaching .main-wrapper .content .title {
  width: 450px;
  margin: 0 0 30px;
  line-height: 52px;
  font-size: 44px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .coaching .main-wrapper .content .separator {
  width: 135px;
  height: 1px;
  margin-bottom: 30px;
  background-color: #ffb819;
}
.home-wrapper .coaching .main-wrapper .content .text {
  margin-bottom: 13px;
  line-height: 48px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .coaching .main-wrapper .img {
  width: 450px;
  height: 450px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.home-wrapper .tools {
  position: relative;
  /*top: -725px;*/
  padding: 370px 0 316px;
  /*background: url(../images/tools-bck.png) top center no-repeat;
        background-size: cover;*/
  z-index: 3;
}
.home-wrapper .tools .bck {
  position: absolute;
  top: -196px;
  left: 0;
  right: 0;
  height: 1424px;
  background: url(../images/tools-bck.png) top center no-repeat;
  background-size: cover;
  z-index: -1;
}
.home-wrapper .tools .main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1460px;
}
.home-wrapper .tools .main-wrapper .content {
  width: 780px;
  color: #fff;
}
.home-wrapper .tools .main-wrapper .content .subtitle {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
}
.home-wrapper .tools .main-wrapper .content .title {
  width: 450px;
  margin: 0 0 30px;
  line-height: 52px;
  font-size: 44px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .tools .main-wrapper .content .separator {
  width: 135px;
  height: 1px;
  margin-bottom: 30px;
  background-color: #ffb819;
}
.home-wrapper .tools .main-wrapper .content .text {
  margin-bottom: 13px;
  line-height: 48px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .tools .main-wrapper .img {
  width: 450px;
  height: 450px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.home-wrapper .quotes {
  position: relative;
  /*top: -725px;*/
  background-color: #fff;
  z-index: 4;
}
.home-wrapper .quotes .nav {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 40px;
  height: 40px;
  margin-top: -67.5px;
  background: url(../images/orange-left-arrow.png) 42% center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.home-wrapper .quotes .nav.right {
  left: auto;
  right: 5%;
  background: url(../images/orange-right-arrow.png) 58% center no-repeat;
  background-size: contain;
}
.home-wrapper .quotes .main-wrapper {
  width: calc(100% - 460px);
  padding: 150px 230px;
}
.home-wrapper .quotes .main-wrapper .bx-wrapper {
  border: none;
  border-bottom: 1px solid #efefef;
  box-shadow: none;
}
.home-wrapper .quotes .main-wrapper .bx-wrapper .bx-controls-auto,
.home-wrapper .quotes .main-wrapper .bx-wrapper .bx-pager {
  bottom: -40px;
}
.home-wrapper .quotes .main-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(255, 110, 25, 0.4);
}
.home-wrapper .quotes .main-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ff6e19;
}
.home-wrapper .quotes .main-wrapper .bx-controls-direction {
  display: none;
}
.home-wrapper .quotes .main-wrapper .quote {
  padding: 140px 140px 60px;
  border-top: 1px solid #efefef;
  background: url(../images/quote-img.png) center 54px no-repeat;
  background-size: 50px;
}
.home-wrapper .quotes .main-wrapper .quote .content {
  margin-bottom: 38px;
  text-align: center;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.home-wrapper .quotes .main-wrapper .quote .client {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #a5b0b7;
}
.home-wrapper .privacy {
  position: relative;
  /*top: -725px;*/
  padding: 175px 0;
  color: #fff;
  background-color: #5a0045;
  z-index: 5;
}
.home-wrapper .privacy .main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}
.home-wrapper .privacy .main-wrapper .img {
  width: 187px;
  height: 206px;
  background: url(../images/privacy-icon.png) 0 0 no-repeat;
  background-size: 187px 206px;
}
.home-wrapper .privacy .main-wrapper .info {
  width: 78%;
}
.home-wrapper .privacy .main-wrapper .info .title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'MaisonNeue-Book', sans-serif;
}
.home-wrapper .privacy .main-wrapper .info .text {
  margin-bottom: 15px;
  line-height: 38px;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
}
.home-wrapper .privacy .main-wrapper .info .labels {
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #ff6e19;
}
.home-wrapper .today {
  position: relative;
  /*top: -725px;*/
  z-index: 6;
}
.home-wrapper .today .left-part {
  width: 28%;
  padding: 15% 11%;
  background-color: #173963;
}
.home-wrapper .today .left-part h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #005499;
}
.home-wrapper .today .left-part h2 {
  margin: 30px 0;
  font-size: 55px;
  font-family: 'GothamRounded-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.home-wrapper .today .left-part p {
  margin-bottom: 50px;
  line-height: 42px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #bac8d1;
}
.home-wrapper .today .right-part {
  width: 50%;
  background: url(../images/today-bck.png) 0 0 no-repeat;
  background-size: cover;
}
/*#endregion*/
/*#region How it works page*/
.hiw-wrapper {
  padding-top: 104px;
}
.hiw-wrapper .register {
  position: relative;
  padding: 10% 0;
  background: url(../images/icons-pattern.png) 0 0 no-repeat;
  background-size: cover;
}
.hiw-wrapper .register:after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: calc(50% - 62px);
  width: 124px;
  height: 62px;
  border-bottom-left-radius: 124px;
  border-bottom-right-radius: 124px;
  background: #00b087 url(../images/white-down-arrow.png) center 42% no-repeat;
  background-size: 40px 25px;
}
.hiw-wrapper .register .main-wrapper {
  width: 1100px;
  text-align: center;
}
.hiw-wrapper .register .main-wrapper h1 {
  margin-top: 0;
  font-size: 80px;
  font-family: 'GothamRounded-Light', sans-serif;
  color: #fff;
}
.hiw-wrapper .register .main-wrapper .separator {
  width: 200px;
  height: 1px;
  margin: -30px auto 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
.hiw-wrapper .register .main-wrapper p {
  margin-bottom: 80px;
  font-size: 30px;
  font-family: 'GothamRounded-Light', sans-serif;
  color: #fff;
}
.hiw-wrapper .info .left-part {
  width: 30%;
  background-color: #005499;
}
.hiw-wrapper .info .right-part {
  width: 47%;
  padding: 6% 18% 6% 5%;
  background-color: #173963;
}
.hiw-wrapper .info .right-part h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #005499;
}
.hiw-wrapper .info .right-part h2 {
  font-size: 40px;
  font-family: 'MaisonNeue-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.hiw-wrapper .info .right-part p {
  line-height: 38px;
  font-size: 24px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #bac8d1;
}
.hiw-wrapper .approach .left-part {
  width: 30%;
  background-color: #f7f8f9;
}
.hiw-wrapper .approach .left-part .bx-wrapper {
  border: none;
  box-shadow: none;
  background: none;
}
.hiw-wrapper .approach .left-part .bx-wrapper .bx-pager.bx-default-pager a {
  background: #ff6e19;
  opacity: .4;
}
.hiw-wrapper .approach .left-part .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ff6e19;
  opacity: 1;
}
.hiw-wrapper .approach .left-part .bx-controls-direction {
  display: none;
}
.hiw-wrapper .approach .left-part .img {
  width: 280px;
  height: 480px;
  margin: 0 auto;
  background: url(../images/component1.png) 0 0 no-repeat;
  background-size: cover;
}
.hiw-wrapper .approach .right-part {
  flex-wrap: wrap;
  width: 60%;
  padding: 60px 10% 75px 0;
}
.hiw-wrapper .approach .right-part .step-item {
  position: relative;
  width: 25%;
  padding: 75px 5% 60px 20%;
}
.hiw-wrapper .approach .right-part .step-item .icon {
  position: absolute;
  top: 75px;
  left: 20%;
  width: 66px;
  height: 66px;
  border: 1px solid #ff6e19;
  border-radius: 10px;
}
.hiw-wrapper .approach .right-part .step-item .title {
  margin-bottom: 25px;
  font-size: 26px;
  font-family: 'MaisonNeue-Book', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #232323;
}
.hiw-wrapper .approach .right-part .step-item .text {
  line-height: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #595959;
}
.hiw-wrapper .stages {
  background-color: #00b087;
}
.hiw-wrapper .stages .main-wrapper {
  width: calc(100% - 400px);
  padding: 80px 200px;
}
.hiw-wrapper .stages .main-wrapper .nav {
  justify-content: center;
  margin-bottom: 75px;
}
.hiw-wrapper .stages .main-wrapper .nav .dot {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.hiw-wrapper .stages .main-wrapper .nav .dot:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -50px;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #fff;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hiw-wrapper .stages .main-wrapper .nav .dot.explore:after {
  content: "Explore";
}
.hiw-wrapper .stages .main-wrapper .nav .dot.build:after {
  content: "Build";
}
.hiw-wrapper .stages .main-wrapper .nav .dot.mobilize:after {
  content: "Mobilize";
}
.hiw-wrapper .stages .main-wrapper .nav .dot.quit:after {
  content: "Quit";
}
.hiw-wrapper .stages .main-wrapper .nav .dot.secure:after {
  content: "Secure";
}
.hiw-wrapper .stages .main-wrapper .nav .dot.sustain:after {
  content: "Sustain";
}
.hiw-wrapper .stages .main-wrapper .nav .dot.active {
  background-color: #fff;
}
.hiw-wrapper .stages .main-wrapper .nav .dot.active:after {
  font-family: 'MaisonNeue-Bold', sans-serif;
}
.hiw-wrapper .stages .main-wrapper .nav .line {
  align-self: center;
  width: 17%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.hiw-wrapper .stages .main-wrapper .bars {
  justify-content: center;
  height: 60px;
}
.hiw-wrapper .stages .main-wrapper .bars .bar {
  width: 1px;
  height: 0;
  margin-right: calc(17% + 19px);
  background-color: rgba(255, 255, 255, 0.5);
}
.hiw-wrapper .stages .main-wrapper .bars .bar.sustain {
  margin-right: 0;
}
.hiw-wrapper .stages .main-wrapper .content {
  position: relative;
}
.hiw-wrapper .stages .main-wrapper .content .move {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.hiw-wrapper .stages .main-wrapper .content .move.left {
  display: none;
  left: -80px;
  background: url(../images/orange-left-arrow.png) center center no-repeat;
  background-size: 26px 41px;
}
.hiw-wrapper .stages .main-wrapper .content .move.right {
  right: -80px;
  background: url(../images/orange-right-arrow.png) center center no-repeat;
  background-size: 26px 41px;
}
.hiw-wrapper .stages .main-wrapper .content .stage {
  display: none;
  position: relative;
  height: 429px;
  padding: 70px 7%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.hiw-wrapper .stages .main-wrapper .content .stage.title {
  display: block;
  border: none;
  text-align: center;
}
.hiw-wrapper .stages .main-wrapper .content .stage.title .separator {
  margin: 0 auto 35px;
}
.hiw-wrapper .stages .main-wrapper .content .stage.title p {
  margin: 0 auto 40px;
}
.hiw-wrapper .stages .main-wrapper .content .stage h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.hiw-wrapper .stages .main-wrapper .content .stage h1 {
  margin: 0 0 30px;
  font-size: 80px;
  font-family: 'GothamRounded-Light', sans-serif;
  color: #fff;
}
.hiw-wrapper .stages .main-wrapper .content .stage .separator {
  width: 105px;
  height: 1px;
  margin-bottom: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}
.hiw-wrapper .stages .main-wrapper .content .stage p {
  width: 54%;
  font-size: 24px;
  font-family: 'GothamRounded-Light', sans-serif;
  color: #fff;
}
.hiw-wrapper .stages .main-wrapper .content .stage p.goal {
  font-style: italic;
}
.hiw-wrapper .stages .main-wrapper .content .stage .chart {
  position: absolute;
  top: 50%;
  right: 7%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 360px;
  height: 360px;
}
.hiw-wrapper .stages .main-wrapper .content .stage .chart .value {
  position: relative;
  line-height: 333px;
  text-align: center;
  font-size: 110px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #fff;
}
.hiw-wrapper .stages .main-wrapper .content .stage .chart .value:after {
  content: "DAYS";
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.hiw-wrapper .stages .main-wrapper .content .stage.explore .chart {
  background: url(../images/ring-explore.png) center center no-repeat;
  background-size: cover;
}
.hiw-wrapper .stages .main-wrapper .content .stage.build .chart {
  background: url(../images/ring-build.png) center center no-repeat;
  background-size: cover;
}
.hiw-wrapper .stages .main-wrapper .content .stage.build .value:after {
  content: "DAY";
  left: 9%;
  width: 50%;
}
.hiw-wrapper .stages .main-wrapper .content .stage.build .value:before {
  content: "WEEKS";
  position: absolute;
  top: 20%;
  right: 13%;
  width: 50%;
  text-align: center;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.hiw-wrapper .stages .main-wrapper .content .stage.mobilize .chart {
  background: url(../images/ring-mobilize.png) center center no-repeat;
  background-size: cover;
}
.hiw-wrapper .stages .main-wrapper .content .stage.mobilize .value:after {
  content: "WEEK";
}
.hiw-wrapper .stages .main-wrapper .content .stage.quit .chart {
  background: url(../images/ring-quit.png) center center no-repeat;
  background-size: cover;
}
.hiw-wrapper .stages .main-wrapper .content .stage.quit .value:after {
  content: "WEEK";
}
.hiw-wrapper .stages .main-wrapper .content .stage.secure .chart {
  background: url(../images/ring-secure.png) center center no-repeat;
  background-size: cover;
}
.hiw-wrapper .stages .main-wrapper .content .stage.secure .value:after {
  content: "WEEKS";
}
.hiw-wrapper .stages .main-wrapper .content .stage.sustain .chart {
  background: url(../images/ring-sustain.png) center center no-repeat;
  background-size: cover;
}
.hiw-wrapper .stages .main-wrapper .content .stage.sustain .value:after {
  content: "WEEKS";
}
.hiw-wrapper .today .left-part {
  width: 28%;
  padding: 15% 11%;
  background-color: #173963;
}
.hiw-wrapper .today .left-part h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #005499;
}
.hiw-wrapper .today .left-part h2 {
  margin: 30px 0;
  font-size: 55px;
  font-family: 'GothamRounded-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.hiw-wrapper .today .left-part p {
  margin-bottom: 50px;
  line-height: 42px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #bac8d1;
}
.hiw-wrapper .today .right-part {
  width: 50%;
  background: url(../images/today-bck.png) 0 0 no-repeat;
  background-size: cover;
}
/*#endregion*/
/*#region About us page*/
.about-wrapper {
  padding-top: 104px;
}
.about-wrapper .welcome {
  padding: 110px 0;
  background-color: #173963;
}
.about-wrapper .welcome .main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1460px;
}
.about-wrapper .welcome .main-wrapper .content {
  width: 780px;
  color: #fff;
}
.about-wrapper .welcome .main-wrapper .content .title {
  margin: 100px 0 20px;
  font-size: 55px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.about-wrapper .welcome .main-wrapper .content .text {
  line-height: 42px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #bac8d1;
}
.about-wrapper .welcome .main-wrapper .img {
  width: 450px;
  height: 450px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.about-wrapper .note {
  padding: 160px 0;
  background-color: #f9f9f9;
}
.about-wrapper .note .letter {
  width: 920px;
  margin: 0 auto;
  padding: 110px 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.about-wrapper .note .letter .title {
  margin-bottom: 35px;
  font-size: 40px;
  font-family: 'MaisonNeue-Medium', sans-serif;
}
.about-wrapper .note .letter p {
  line-height: 38px;
  font-size: 24px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.about-wrapper .advisors .top-part {
  position: relative;
  padding: 90px 0 80px;
  text-align: center;
  background-color: #5a0045;
}
.about-wrapper .advisors .top-part .title {
  margin-bottom: 20px;
  font-size: 80px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #fff;
}
.about-wrapper .advisors .top-part .info {
  width: 50%;
  margin: 0 auto;
  line-height: 42px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #fff;
}
.about-wrapper .advisors .top-part .custom-button {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.about-wrapper .advisors .advisors-box {
  display: none;
  padding: 240px 0;
}
.about-wrapper .advisors .advisors-box .main-wrapper {
  width: 1460px;
}
.about-wrapper .advisors .advisors-box .main-wrapper .advisor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about-wrapper .advisors .advisors-box .main-wrapper .advisor .content {
  width: 920px;
  color: #fff;
}
.about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .name {
  margin: 0 0 20px;
  font-size: 44px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #232323;
}
.about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .title {
  width: 560px;
  margin: 0 0 25px;
  line-height: 30px;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  font-style: italic;
  color: #bac8d1;
}
.about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .separator {
  width: 135px;
  height: 1px;
  margin-bottom: 20px;
  background-color: #00b087;
}
.about-wrapper .advisors .advisors-box .main-wrapper .advisor .content .text {
  line-height: 50px;
  font-size: 28px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #676969;
}
.about-wrapper .advisors .advisors-box .main-wrapper .advisor .img {
  width: 380px;
  height: 380px;
  border: 1px solid #3e3935;
  border-radius: 20px;
}
.about-wrapper .advisors .bottom-part {
  height: 110px;
  background: linear-gradient(to left, #5a0045, #8c0057 30%, #8c0057 70%, #5a0045 100%);
}
.about-wrapper .how .top-part {
  padding: 95px 0;
  text-align: center;
  background-color: #00b087;
}
.about-wrapper .how .top-part .title {
  margin-bottom: 20px;
  font-size: 80px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #fff;
}
.about-wrapper .how .top-part .subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
  font-family: 'MaisonNeue-Medium', sans-serif;
  color: #009167;
}
.about-wrapper .how .bottom-part .main-wrapper {
  width: 1460px;
  padding-top: 265px;
}
.about-wrapper .how .bottom-part .main-wrapper .how-item {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 265px;
}
.about-wrapper .how .bottom-part .main-wrapper .how-item .content {
  width: 840px;
}
.about-wrapper .how .bottom-part .main-wrapper .how-item .content .subtitle {
  margin: 10px 0 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'MaisonNeue-Medium', sans-serif;
  color: #bac8d1;
}
.about-wrapper .how .bottom-part .main-wrapper .how-item .content .title {
  width: 480px;
  margin-bottom: 30px;
  line-height: 52px;
  font-size: 44px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #232323;
}
.about-wrapper .how .bottom-part .main-wrapper .how-item .content .separator {
  width: 135px;
  height: 1px;
  margin-bottom: 25px;
  background-color: #00b087;
}
.about-wrapper .how .bottom-part .main-wrapper .how-item .content .text {
  line-height: 50px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #676969;
}
.about-wrapper .how .bottom-part .main-wrapper .how-item .img {
  width: 450px;
  height: 450px;
  border: 1px solid #00b087;
  border-radius: 20px;
}
.about-wrapper .today .left-part {
  width: 28%;
  padding: 15% 11%;
  background-color: #173963;
}
.about-wrapper .today .left-part h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #005499;
}
.about-wrapper .today .left-part h2 {
  margin: 30px 0;
  font-size: 55px;
  font-family: 'GothamRounded-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.about-wrapper .today .left-part p {
  margin-bottom: 50px;
  line-height: 42px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #bac8d1;
}
.about-wrapper .today .right-part {
  width: 50%;
  background: url(../images/today-bck.png) 0 0 no-repeat;
  background-size: cover;
}
/*#endregion*/
/*#region Blog page*/
.blog-wrapper {
  padding-top: 104px;
}
.blog-wrapper .welcome {
  padding: 80px 0;
  text-align: center;
  background-color: #5a0045;
}
.blog-wrapper .welcome h1 {
  margin: 0;
  font-size: 80px;
  font-family: 'GothamRounded-Light', sans-serif;
  color: #fff;
}
.blog-wrapper .welcome h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #8c0085;
}
.blog-wrapper .posts {
  padding: 200px 0 60px;
}
.blog-wrapper .posts .main-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1460px;
  margin: 0 auto;
}
.blog-wrapper .posts .main-wrapper .post {
  width: 26%;
  margin: 0 3.5% 140px;
}
.blog-wrapper .posts .main-wrapper .post img {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.blog-wrapper .posts .main-wrapper .post .timestamp {
  margin-bottom: 15px;
  font-size: 24px;
  font-family: 'MaisonNeue-Book', sans-serif;
  font-weight: 600;
  color: #00b087;
}
.blog-wrapper .posts .main-wrapper .post .title {
  margin-bottom: 25px;
  line-height: 38px;
  font-size: 34px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #232323;
}
.blog-wrapper .posts .main-wrapper .post .text {
  margin-bottom: 30px;
  line-height: 28px;
  font-size: 18px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #676969;
}
.blog-wrapper .posts .main-wrapper .post .custom-button {
  width: 240px;
  padding: 7px 0 9px;
  border: 2px solid #ff6e19;
  font-size: 18px;
  font-family: 'GothamRounded-Book', sans-serif;
}
.blog-wrapper .posts .main-wrapper .post.newsletter {
  flex-direction: column;
  justify-content: space-between;
  width: calc(26% - 80px);
  height: 240px;
  padding: 70px 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.blog-wrapper .posts .main-wrapper .post.newsletter .icon {
  width: 62px;
  height: 62px;
  margin: 0 auto;
  background: url(../images/post-email-icon.png) center center no-repeat;
  background-size: 100%;
}
.blog-wrapper .posts .main-wrapper .post.newsletter .label {
  text-align: center;
  font-size: 26px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #232323;
}
.blog-wrapper .posts .main-wrapper .post.newsletter .send-email {
  position: relative;
  border: 2px solid #f5f5f5;
}
.blog-wrapper .posts .main-wrapper .post.newsletter .send-email input {
  float: left;
  width: calc(100% - 104px);
  padding: 15px 25px;
  border: none;
  font-size: 18px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #ff6e19;
  background: none;
}
.blog-wrapper .posts .main-wrapper .post.newsletter .send-email .send-button {
  display: none;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 58px;
  height: 58px;
  background: #ff6e19 url(../images/send-email.png) center center no-repeat;
  cursor: pointer;
}
.blog-wrapper .today .left-part {
  width: 28%;
  padding: 15% 11%;
  background-color: #173963;
}
.blog-wrapper .today .left-part h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'MaisonNeue-Book', sans-serif;
  color: #005499;
}
.blog-wrapper .today .left-part h2 {
  margin: 30px 0;
  font-size: 55px;
  font-family: 'GothamRounded-Book', sans-serif;
  font-weight: 500;
  color: #fff;
}
.blog-wrapper .today .left-part p {
  margin-bottom: 50px;
  line-height: 42px;
  font-size: 30px;
  font-family: 'GothamRounded-Book', sans-serif;
  color: #bac8d1;
}
.blog-wrapper .today .right-part {
  width: 50%;
  background: url(../images/today-bck.png) 0 0 no-repeat;
  background-size: cover;
}
/*#endregion*/