<div class="about-wrapper">
    <section class="welcome">
        <div class="main-wrapper flex">
            <div class="content">
                <div class="title">About Us</div>
                <div class="text">
                    Pivot was created by Carrot Sense, a digital health company that's using behavioral science, mobile
                    technology, and clinical expertise to engage and empower millions of people to quit smoking.
                </div>
            </div>
            <div class="img"></div>
        </div>
    </section>

    <section class="note">
        <div class="letter">
            <div class="title">A note from our founder, David S. Utley</div>

            <p>
                "We believe in smokers." This is one of our value statements at Carrot. It affirms our belief that smokers
                are human beings with real-life daily routines, stresses, family lives, work lives, fun times, feelings,
                goals, and aspirations. We believe that smokers are capable of successfully quitting if we support them
                with powerful tools, awesome coaching, and proven quit strategies. By believing in smokers, we have designed
                our product offering with a positive supportive voice. We live this value statement everyday.
            </p>
            <p>
                During one of our user-feedback sessions, a woman who had participated in Pivot saw “We believe in smokers”
                on the wall and said, “Wow. I’ve never heard anyone say that to me or anyone else before!” I was surprised,
                as I hadn’t realized that a core value statement, intended to be an internal belief and guideline for our
                company, would resonate so strongly with our users! But that’s how it should be, right—having your internal
                and external beliefs and priorities fully aligned?
            </p>
            <p>
                Why would “Believing in smokers” be so surprising? I mean, we have all been touched by the adverse effects
                of smoking. Everyone has a family member who smoked or smokes. We all know friends and family who have
                suffered an illness or died from smoking. No one would intentionally not get behind someone to help them
                quit smoking, right?
            </p>
            <p>
                I think what has happened at the public level is that we have become numb and desensitized to the fact that
                there is pervasive use of tobacco in our society. And we are numbed to how much damage tobacco use does to
                our environment, our people, our pets, our kids, our economy, our everything. Numb. It’s not that we have
                given up on smokers; we given up on trying to do something about smoking.
            </p>
            <p>
                At Carrot, we refuse to give up. With Pivot, we’ve created an experience that people want to use. And we pack
                the experience with the best strategies, tools, and coaching. We don’t try to make people quit smoking. We
                want to empower and engage people so that they can quit on their own terms, for themselves.
            </p>
            <p>
                Because we believe in smokers.
            </p>
        </div>
    </section>

    <section class="advisors">
        <div class="top-part">
            <div class="title">Our Advisors</div>
            <div class="info">
                We've enlisted the help of some of the nation's leading behavioral scientists and tobacco-cessation experts.
            </div>
            <button id="toggleAdvisors" class="custom-button">View Advisors</button>
        </div>
        <div class="advisors-box">
            <div class="main-wrapper">
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Carla J. Berg, PhD</div>
                        <div class="title">Associate Professor, Behavioral Sciences and Health Education at Emory University</div>
                        <div class="separator"></div>
                        <div class="text">
                            
                                Carla J. Berg, PhD is an Associate Professor in the Department of Behavioral Sciences and Health
                                Education in Emory University’s Rollins School of Public Health and the Associate Director of
                                Population Sciences at Emory’s Winship Cancer Institute.
                          
                                Dr. Berg received her Ph.D. in clinical health psychology from the University of Kansas, completed
                                her residency training at Massachusetts General Hospital/Harvard Medical School in behavioral
                                medicine, and then completed her postdoctoral training at the University of Minnesota in the
                                Department of Medicine. She joined the faculty at Emory University in 2009 from the University
                                of Minnesota. She is currently pursuing her MBA in Emory’s Goizueta Business School.
                         
                                Dr. Berg’s research primarily focuses on tobacco control, with particular emphases on health
                                disparities, policy change and impact, social marketing, consumer behavior, and vulnerable
                                populations (e.g., youth, minorities). She has conducted NIH-funded research domestically
                                focusing on youth tobacco use and prevention as well as comorbidities including alcohol and
                                marijuana use within the context of diverse policy and market environments. Her work in
                                alternative tobacco products, particularly e-cigarettes, as well as for her work in
                                tobacco-marijuana co-use is well-known. She also received a Fulbright Scholarship in 2013 to
                                conduct tobacco control research in the Republic of Georgia; she has worked internationally
                                in China, India, and elsewhere as well. Dr. Berg also is working in the area of improving
                                quality of life among cancer survivors through the use of positive psychology. To address
                                these research areas, Dr. Berg’s methodological strengths include developing and testing
                                interventions involving technology-based approaches, behavioral counseling, and pharmacotherapy;
                                conducting longitudinal studies; survey research; and qualitative research.
                        
                                Dr. Berg’s research has been funded by the National Cancer Institute, Centers for Disease
                                Control, ClearWay Minnesota, and several others. She has published over 145 peer-reviewed
                                journal articles and 3 books/book chapters in her areas of expertise. Her articles have been
                                published in a number of leading journals including Preventive Medicine, American Journal of
                                Preventive Medicine, American Journal of Public Health, Tobacco Control, Nicotine and Tobacco
                                Research, Psycho-oncology, Journal of Cancer Survivorship, and Cancer Epidemiology, Biomarkers
                                and Prevention. Dr. Berg has been honored with multiple national awards in research, including
                                awards from the Society for Research on Nicotine and Tobacco, the American Psychological
                                Association, and the American Association for Cancer Research.
                          
                                Dr. Berg has been a member of SRNT since 2004. She has attended each annual meeting since then,
                                has served as an abstract reviewer each year, has been a member of the Membership Committee,
                                and has been involved in several networks including the Global Health Network within which she
                                has served as co-chair since 2014, as well as the Health Disparities, Treatment, and Public
                                Policy Networks. She is eager to continue serving SRNT and its mission.
                           
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Judith S. Gordon, Ph.D</div>
                        <div class="title">Professor, Medicine at University of Arizona</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Judith S. Gordon, Ph.D., is Executive Director of Research Initiatives in the College of Nursing.
                                She is a Professor in the Division of Community and Systems Health and the Department of Family
                                and Community Medicine at the University of Arizona. She received her doctorate degree in Clinical
                                Psychology from the University of Oregon.
                            </p>
                            <p>
                                Dr. Gordon has over 20 years of experience in the conduct of tobacco cessation and tobacco use
                                prevention research. Her current interests focus on the use of technology for promoting tobacco
                                cessation both in healthcare settings and direct-to-consumer applications. Dr. Gordon’s areas
                                of expertise include:
                            </p>
                            <ul>
                                <li>
                                    mHealth and eHealth technologies for lifestyle change and medication adherence
                                </li>
                                <li>
                                    Public health tobacco cessation interventions delivered in healthcare settings
                                </li>
                                <li>
                                    Multi-behavioral interventions to address tobacco, diet, and physical activity
                                </li>
                                <li>
                                    Self-help tobacco cessation programs
                                </li>
                                <li>
                                    Tobacco cessation training programs for healthcare practitioners
                                </li>
                                <li>
                                    Computer-based tobacco prevention programs
                                </li>
                            </ul>
                            <p>
                                Dr. Gordon has been the PI or Co-Investigator on more than 30 projects funded by the National Institutes
                                of Health, the Department of Defense, and private foundations. She has authored and co-authored numerous
                                publications in peer-reviewed journals, and presented widely at national and international scientific
                                conferences. Dr. Gordon served on many proposal review committees, editorial boards, and professional societies.
                            </p>
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
            </div>
        </div>
        <div class="bottom-part"></div>
    </section>

    <section class="how">
        <div class="top-part">
            <div class="title">How we're doing this</div>
            <div class="subtitle">Lorem ipsum dolores park and a few more words</div>
        </div>
        <div class="bottom-part">
            <div class="main-wrapper">
                <div class="how-item flex">
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Backed by Proven Science</div>
                        <div class="separator"></div>
                        <div class="text">
                            From our physician founder, to our clinical studies, to our staff of behavioral scientists and
                            researchers, everything we do comes back to proven science.
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="how-item flex">
                    <div class="img"></div>
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Supported with Personal Coaching</div>
                        <div class="separator"></div>
                        <div class="text">
                            Our Pivot coaches are specially trained in tobacco cessation and in how to help people set their
                            own goals—and reach them.
                        </div>
                    </div>
                </div>
                <div class="how-item flex">
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Powered by Mobile Technology</div>
                        <div class="separator"></div>
                        <div class="text">
                            Between our first-of-its-kind mobile breath sensor and smartphone app, we meet people where they are,
                            because everyone’s needs and schedules are different. Our tech lets Pivot adapt to the person,
                            rather than the other way around.
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="how-item flex">
                    <div class="img"></div>
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Delivered with Modern Design</div>
                        <div class="separator"></div>
                        <div class="text">
                            Our experience designers and behavioral scientists have tailored every aspect of Pivot’s interactive
                            user experience to keep people engaged, entertained, and moving forward on their journey to better health.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="today flex">
        <div class="left-part">
            <h3>Sign up for the beta</h3>
            <h2>Pivot Today</h2>
            <p>
                Lorem ipsum dolores park, some enticing copy about registering for Pivot or something like that.
            </p>
            <button class="custom-button">Register</button>
        </div>
        <div class="right-part"></div>
    </section>
</div>