<div class="about-wrapper">
    <section class="welcome">
        <div class="main-wrapper flex">
            <div class="content">
                <div class="title">About Us</div>
                <div class="text">
                    Pivot was created by Carrot Sense, a digital health company that's using behavioral science, mobile
                    technology, and clinical expertise to engage and empower millions of people to quit smoking.
                </div>
            </div>
            <div class="img"></div>
        </div>
    </section>

    <section class="note">
        <div class="letter">
            <div class="title">A note from our founder, David S. Utley</div>

            <p>
                "We believe in smokers." This is one of our value statements at Carrot. It affirms our belief that smokers
                are human beings with real-life daily routines, stresses, family lives, work lives, fun times, feelings,
                goals, and aspirations. We believe that smokers are capable of successfully quitting if we support them
                with powerful tools, awesome coaching, and proven quit strategies. By believing in smokers, we have designed
                our product offering with a positive supportive voice. We live this value statement everyday.
            </p>
            <p>
                During one of our user-feedback sessions, a woman who had participated in Pivot saw “We believe in smokers”
                on the wall and said, “Wow. I’ve never heard anyone say that to me or anyone else before!” I was surprised,
                as I hadn’t realized that a core value statement, intended to be an internal belief and guideline for our
                company, would resonate so strongly with our users! But that’s how it should be, right—having your internal
                and external beliefs and priorities fully aligned?
            </p>
            <p>
                Why would “Believing in smokers” be so surprising? I mean, we have all been touched by the adverse effects
                of smoking. Everyone has a family member who smoked or smokes. We all know friends and family who have
                suffered an illness or died from smoking. No one would intentionally not get behind someone to help them
                quit smoking, right?
            </p>
            <p>
                I think what has happened at the public level is that we have become numb and desensitized to the fact that
                there is pervasive use of tobacco in our society. And we are numbed to how much damage tobacco use does to
                our environment, our people, our pets, our kids, our economy, our everything. Numb. It’s not that we have
                given up on smokers; we given up on trying to do something about smoking.
            </p>
            <p>
                At Carrot, we refuse to give up. With Pivot, we’ve created an experience that people want to use. And we pack
                the experience with the best strategies, tools, and coaching. We don’t try to make people quit smoking. We
                want to empower and engage people so that they can quit on their own terms, for themselves.
            </p>
            <p>
                Because we believe in smokers.
            </p>
        </div>
    </section>

    <section class="advisors">
        <div class="top-part">
            <div class="title">Our Advisors</div>
            <div class="info">
                We've enlisted the help of some of the nation's leading behavioral scientists and tobacco-cessation experts.
            </div>
            <button class="custom-button">View Advisors</button>
        </div>
        <div class="bottom-part"></div>
    </section>

    <section class="how">
        <div class="top-part">
            <div class="title">How we're doing this</div>
            <div class="subtitle">Lorem ipsum dolores park and a few more words</div>
        </div>
        <div class="bottom-part">
            <div class="main-wrapper">
                <div class="how-item flex">
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Backed by Proven Science</div>
                        <div class="separator"></div>
                        <div class="text">
                            From our physician founder, to our clinical studies, to our staff of behavioral scientists and
                            researchers, everything we do comes back to proven science.
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="how-item flex">
                    <div class="img"></div>
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Supported with Personal Coaching</div>
                        <div class="separator"></div>
                        <div class="text">
                            Our Pivot coaches are specially trained in tobacco cessation and in how to help people set their
                            own goals—and reach them.
                        </div>
                    </div>
                </div>
                <div class="how-item flex">
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Powered by Mobile Technology</div>
                        <div class="separator"></div>
                        <div class="text">
                            Between our first-of-its-kind mobile breath sensor and smartphone app, we meet people where they are,
                            because everyone’s needs and schedules are different. Our tech lets Pivot adapt to the person,
                            rather than the other way around.
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="how-item flex">
                    <div class="img"></div>
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Delivered with Modern Design</div>
                        <div class="separator"></div>
                        <div class="text">
                            Our experience designers and behavioral scientists have tailored every aspect of Pivot’s interactive
                            user experience to keep people engaged, entertained, and moving forward on their journey to better health.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="today flex">
        <div class="left-part">
            <h3>Sign up for the beta</h3>
            <h2>Pivot Today</h2>
            <p>
                Lorem ipsum dolores park, some enticing copy about registering for Pivot or something like that.
            </p>
            <button class="custom-button">Register</button>
        </div>
        <div class="right-part"></div>
    </section>
</div>