<div class="about-wrapper">
    <section class="welcome">
        <div class="main-wrapper flex">
            <div class="content">
                <div class="title">About Us</div>
                <div class="text">
                    Pivot was created by Carrot Sense, a digital health company that's using behavioral science, mobile
                    technology, and clinical expertise to engage and empower millions of people to quit smoking.
                </div>
            </div>
            <div class="img"></div>
        </div>
    </section>

    <section class="note">
        <div class="letter">
            <div class="title">A note from our founder, David S. Utley</div>

            <p>
                "We believe in smokers." This is one of our value statements at Carrot. It affirms our belief that smokers
                are human beings with real-life daily routines, stresses, family lives, work lives, fun times, feelings,
                goals, and aspirations. We believe that smokers are capable of successfully quitting if we support them
                with powerful tools, awesome coaching, and proven quit strategies. By believing in smokers, we have designed
                our product offering with a positive supportive voice. We live this value statement everyday.
            </p>
            <p>
                During one of our user-feedback sessions, a woman who had participated in Pivot saw “We believe in smokers”
                on the wall and said, “Wow. I’ve never heard anyone say that to me or anyone else before!” I was surprised,
                as I hadn’t realized that a core value statement, intended to be an internal belief and guideline for our
                company, would resonate so strongly with our users! But that’s how it should be, right—having your internal
                and external beliefs and priorities fully aligned?
            </p>
            <p>
                Why would “Believing in smokers” be so surprising? I mean, we have all been touched by the adverse effects
                of smoking. Everyone has a family member who smoked or smokes. We all know friends and family who have
                suffered an illness or died from smoking. No one would intentionally not get behind someone to help them
                quit smoking, right?
            </p>
            <p>
                I think what has happened at the public level is that we have become numb and desensitized to the fact that
                there is pervasive use of tobacco in our society. And we are numbed to how much damage tobacco use does to
                our environment, our people, our pets, our kids, our economy, our everything. Numb. It’s not that we have
                given up on smokers; we given up on trying to do something about smoking.
            </p>
            <p>
                At Carrot, we refuse to give up. With Pivot, we’ve created an experience that people want to use. And we pack
                the experience with the best strategies, tools, and coaching. We don’t try to make people quit smoking. We
                want to empower and engage people so that they can quit on their own terms, for themselves.
            </p>
            <p>
                Because we believe in smokers.
            </p>
        </div>
    </section>

    <section class="advisors">
        <div class="top-part">
            <div class="title">Our Advisors</div>
            <div class="info">
                We've enlisted the help of some of the nation's leading behavioral scientists and tobacco-cessation experts.
            </div>
            <button id="toggleAdvisors" class="custom-button">View Advisors</button>
        </div>
        <div class="advisors-box">
            <div class="main-wrapper">
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Carla J. Berg, PhD</div>
                        <div class="title">Associate Professor, Behavioral Sciences and Health Education at Emory University</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Carla J. Berg, PhD is an Associate Professor in the Department of Behavioral Sciences and Health
                                Education in Emory University’s Rollins School of Public Health and the Associate Director of
                                Population Sciences at Emory’s Winship Cancer Institute.
                            </p>
                            <div class="read-more">read more</div>
                            <p>
                                Dr. Berg received her Ph.D. in clinical health psychology from the University of Kansas, completed
                                her residency training at Massachusetts General Hospital/Harvard Medical School in behavioral
                                medicine, and then completed her postdoctoral training at the University of Minnesota in the
                                Department of Medicine. She joined the faculty at Emory University in 2009 from the University
                                of Minnesota. She is currently pursuing her MBA in Emory’s Goizueta Business School.
                            </p>
                            <p>
                                Dr. Berg’s research primarily focuses on tobacco control, with particular emphases on health
                                disparities, policy change and impact, social marketing, consumer behavior, and vulnerable
                                populations (e.g., youth, minorities). She has conducted NIH-funded research domestically
                                focusing on youth tobacco use and prevention as well as comorbidities including alcohol and
                                marijuana use within the context of diverse policy and market environments. Her work in
                                alternative tobacco products, particularly e-cigarettes, as well as for her work in
                                tobacco-marijuana co-use is well-known. She also received a Fulbright Scholarship in 2013 to
                                conduct tobacco control research in the Republic of Georgia; she has worked internationally
                                in China, India, and elsewhere as well. Dr. Berg also is working in the area of improving
                                quality of life among cancer survivors through the use of positive psychology. To address
                                these research areas, Dr. Berg’s methodological strengths include developing and testing
                                interventions involving technology-based approaches, behavioral counseling, and pharmacotherapy;
                                conducting longitudinal studies; survey research; and qualitative research.
                            </p>
                            <p>
                                Dr. Berg’s research has been funded by the National Cancer Institute, Centers for Disease
                                Control, ClearWay Minnesota, and several others. She has published over 145 peer-reviewed
                                journal articles and 3 books/book chapters in her areas of expertise. Her articles have been
                                published in a number of leading journals including Preventive Medicine, American Journal of
                                Preventive Medicine, American Journal of Public Health, Tobacco Control, Nicotine and Tobacco
                                Research, Psycho-oncology, Journal of Cancer Survivorship, and Cancer Epidemiology, Biomarkers
                                and Prevention. Dr. Berg has been honored with multiple national awards in research, including
                                awards from the Society for Research on Nicotine and Tobacco, the American Psychological
                                Association, and the American Association for Cancer Research.
                            </p>
                            <p>
                                Dr. Berg has been a member of SRNT since 2004. She has attended each annual meeting since then,
                                has served as an abstract reviewer each year, has been a member of the Membership Committee,
                                and has been involved in several networks including the Global Health Network within which she
                                has served as co-chair since 2014, as well as the Health Disparities, Treatment, and Public
                                Policy Networks. She is eager to continue serving SRNT and its mission.
                            </p>
                        </div>
                    </div>
                    <div class="img carla"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Judith S. Gordon, Ph.D</div>
                        <div class="title">Professor, Medicine at University of Arizona</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Judith S. Gordon, Ph.D., is Executive Director of Research Initiatives in the College of Nursing.
                                She is a Professor in the Division of Community and Systems Health and the Department of Family
                                and Community Medicine at the University of Arizona. She received her doctorate degree in Clinical
                                Psychology from the University of Oregon.
                            </p>
                            <div class="read-more">read more</div>
                            <p>
                                Dr. Gordon has over 20 years of experience in the conduct of tobacco cessation and tobacco use
                                prevention research. Her current interests focus on the use of technology for promoting tobacco
                                cessation both in healthcare settings and direct-to-consumer applications. Dr. Gordon’s areas
                                of expertise include:
                            </p>
                            <ul>
                                <li>
                                    mHealth and eHealth technologies for lifestyle change and medication adherence
                                </li>
                                <li>
                                    Public health tobacco cessation interventions delivered in healthcare settings
                                </li>
                                <li>
                                    Multi-behavioral interventions to address tobacco, diet, and physical activity
                                </li>
                                <li>
                                    Self-help tobacco cessation programs
                                </li>
                                <li>
                                    Tobacco cessation training programs for healthcare practitioners
                                </li>
                                <li>
                                    Computer-based tobacco prevention programs
                                </li>
                            </ul>
                            <p>
                                Dr. Gordon has been the PI or Co-Investigator on more than 30 projects funded by the National Institutes
                                of Health, the Department of Defense, and private foundations. She has authored and co-authored numerous
                                publications in peer-reviewed journals, and presented widely at national and international scientific
                                conferences. Dr. Gordon served on many proposal review committees, editorial boards, and professional societies.
                            </p>
                        </div>
                    </div>
                    <div class="img judith"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Sharon Hall, Ph.D.</div>
                        <div class="title">Professor, Psychiatry at UCSF</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Dr. Sharon Hall is Professor Emeritus on Recall in the Department of Psychiatry at the University
                                of California, San Francisco (UCSF), and Consulting Professor in the Stanford Center for Prevention
                                Research at Stanford University.  Her research focuses on the treatment of tobacco dependence, and
                                better under­standing of the processes of change through randomized clinical trials and related studies.
                            </p>
                            <div class="read-more">read more</div>
                            <p>
                                She has special expertise in the successful development of interventions for smokers with physical and
                                mental co-morbidities and on intensive and extended interventions.  A major theme of her work has been
                                the integration of behavioral treatment with pharmacological interventions. She was the founder and
                                Director of the UCSF Habit Abatement Clinic.  The Clinic has treated approximately 3000 smokers using
                                innovative methods.   In recognition of her contributions to the science of the treatment of tobacco
                                dependence, she was awarded the Ove Fernö Award for Clinical Research by the Society for Research on
                                Nicotine and Tobacco.
                            </p>
                            <p>
                                She directed a NIH-funded Center Grant, “Treatment of Complex Patients” and a related postdoctoral
                                training program in drug abuse treatment and services research, and is active in mentoring students,
                                trainees and junior scientists.   She received the George Sarlo Prize for Teaching and Mentoring from
                                the Department of Psychiatry at UCSF.
                            <p>
                                Her public service activities include service on numerous national and state research review committees.
                            </p>
                            <p>
                                Dr. Hall is a licensed psychologist in the State of California.
                            </p>
                        </div>
                    </div>
                    <div class="img sharon"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Dorothy K. Hatsukami, Ph.D.</div>
                        <div class="title">Professor, Psychiatry at University of Minnesota</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Dorothy K. Hatsukami, Ph.D. is the Forster Family Chair in Cancer Prevention at the Masonic Cancer Center
                                of the University of Minnesota and Professor of Psychiatry.  She is the Associate Director of Cancer
                                Prevention and Control at the University of Minnesota Masonic Cancer Center and Director of the Tobacco
                                Research Programs.  Her areas of expertise include nicotine addiction and its treatment, including testing
                                medications such as a nicotine vaccine and combination medications, in smokers.  She has over 400
                                publications and is currently PI/Co-PI of two large NIH-funded cooperative agreements that involve assessing
                                the toxicity, appeal and addictiveness of various tobacco products. She has served on numerous scientific
                                advisory boards for the U.S. government including the 1) Food and Drug Administration, Tobacco Product
                                Scientific Advisory Committee, 2) National Advisory Council on Drug Abuse, 3) Interagency Committee on
                                Smoking and Health, 4) Substance Abuse and Mental Heal Services Administration, 5) Scientific Board of
                                Counselors for the National Institutes on Drug Abuse, and 6) the Drug Control Research, Data and Evaluation
                                Committee of the Office on National Drug Control Policy.  She is currently a member of the World Health
                                Organization Study Group on Tobacco Product Regulation.
                            </p>
                            <div class="read-more">read more</div>
                        </div>
                    </div>
                    <div class="img dorothy"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Raymond Niaura, Ph.D.</div>
                        <div class="title">Director of Science & Director of Training at Schroder Institute</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Raymond Niaura is Director of Science and Director of Training at the Schroeder Institute for
                                Tobacco Research and Policy Studies at Truth Initiative; Professor (adjunct) in the Department
                                of Health Behavior and Society at the Johns Hopkins Bloomberg School of Public Health; and
                                Professor (adjunct) in the Department of Oncology, Lombardi Comprehensive Cancer Center, at
                                the Georgetown University Medical Center. He has extensive expertise in tobacco dependence
                                and treatment, having published over 300 peer-reviewed articles and several book chapters in
                                this area. His interests include biobehavioral substrates of tobacco dependence; behavioral
                                and pharmacological treatments for cessation; public health disparities in tobacco-related
                                burdens of illness and disability, and factors that influence adolescent/early adult tobacco
                                use trajectories. He has been PI or co-I of over 30 NIH-funded grants, and is the former
                                President of the Society of Nicotine and Tobacco Research. He is co-PI on two large, multicenter
                                initiatives: (1) the Population Assessment of Tobacco and Health (PATH; funded by National
                                Institute on Drug Abuse/Center for Tobacco Products, FDA), a national, longitudinal cohort
                                study of more than 40,000 users and non-users of tobacco products ages 12+, including
                                adolescents and young adults; and (2) The Center for Evaluation and Coordination of Training
                                and Research (CECTR) in Tobacco Regulatory Science (U54), which coordinates the 14 Tobacco
                                Centers of Regulatory Science (TCORs) for the FDA/NIH.
                            </p>
                            <div class="read-more">read more</div>
                        </div>
                    </div>
                    <div class="img raymond"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Judith (Jodi) Prochaska, Ph.D, MPH</div>
                        <div class="title">Associate Professor, Medicine at Stanford Prevention Research Center</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Judith (Jodi) Prochaska, PhD, MPH is Associate Professor of Medicine with the Stanford Prevention
                                Research Center and a member of the Stanford Cancer Institute. Dr. Prochaska is a Principal
                                Investigator on multiple research awards from the National Institutes of Health and the State
                                of California Tobacco-Related Disease Research Program. Her research program is leveraging
                                technology (e.g., web, text, social media) to bring tobacco cessation treatment into novel
                                settings and to populations with high smoking prevalence. With attention to medical education
                                and clinical practice, Dr. Prochaska has disseminated tobacco treatment curricula as part of
                                Rx for Change (http://rxforchange.ucsf.edu). She has authored 175 peer-reviewed publications,
                                serves on the Editorial Board of JAMA Internal Medicine, and is on the advisory board for
                                Optum’s Quit for Life Tobacco Quitline. Dr. Prochaska is President of the Society for Research
                                on Nicotine and Tobacco (SRNT), the international scientific society aimed at stimulating the
                                generation and dissemination of new knowledge concerning nicotine and tobacco from bench to
                                bedside and through to health policy.
                            </p>
                            <div class="read-more">read more</div>
                        </div>
                    </div>
                    <div class="img jodi"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Danielle Ramo</div>
                        <div class="title">Assistant Professor, Psychiatry at UCSF</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Dr. Danielle Ramo is Assistant Professor and licensed psychologist in the Department of Psychiatry
                                and the Helen Diller Family Comprehensive Cancer Center at UCSF . She directs the Research on
                                Addictions and Digital Interventions ("Readi") lab (readi.ucsf.edu). Her research program focuses
                                on using digital media to change health risk behaviors including tobacco, alcohol, and other drug
                                involvement. Funded with a K23 Career Development Award from the National Institute on Drug Abuse,
                                Dr. Ramo has developed the Tobacco Status Project social media intervention to help young adults
                                quit smoking, and is testing its efficacy in a randomized clinical trial with 500 young adults.
                                Additional studies are examining patterns and toxicology of electronic-cigarette use in adolescents
                                and tobacco and marijuana co-use in young adults funded by the California Tobacco-Related Diseases
                                Research Program. Her research has demonstrated the high prevalence of tobacco and marijuana co-use,
                                associations between co-use and smoking, and differences in motivation and thoughts about abstinence
                                for the two substances in co-users.
                            </p>
                            <div class="read-more">read more</div>
                            <p>
                                Dr. Ramo serves as program faculty for the NIDA-funded Substance Abuse Treatment and Services Research
                                Training Program and the Center for Tobacco Control Research and Education Postdoctoral Fellowship in
                                the UCSF School of Medicine. Dedicated to teaching and mentoring, she also co-leads a Leadership Seminar
                                for senior trainees in the UCSF Department of Psychiatry.
                            </p>
                            <p>
                                Dr. Ramo has an interest in prevention of substance use disorders in young people. To this end she
                                serves on the Scientific Advisory Board of the Being Adept prevention intervention program
                                (Beingadept.org), helping to design curriculum and speaking to teens, parents, and school administrators
                                throughout the Bay Area about adolescent substance abuse.
                            </p>
                            <p>
                                She obtained a Bachelor of Arts from Columbia University, a Doctorate from the SDSU/UCSD Joint Doctoral
                                Program in Clinical Psychology, and postdoctoral training in the Department of Psychiatry at UCSF.
                            </p>
                        </div>
                    </div>
                    <div class="img danielle"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Nancy Rigotti, M.D.</div>
                        <div class="title">Prefessor, Medicine at Harvard Medical School</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Dr. Rigotti is a Professor of Medicine at Harvard Medical School and Director of the Tobacco Research
                                and Treatment Center at Massachusetts General Hospital, Boston, MA.  She is a Past President of the
                                Society for Research in Nicotine and Tobacco.  Her research focuses on reducing the health burden of
                                tobacco use, with a special focus on interventions for health care systems.
                            </p>
                            <div class="read-more">read more</div>
                        </div>
                    </div>
                    <div class="img nancy"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Nicholas J. Shaheen, M.D., MPH</div>
                        <div class="title">Professor, Medicine and Epidemiology at UNC Chapel Hill</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Nicholas J. Shaheen, MD, MPH is the Bozymski-Heizer Distinguished Professor of Medicine at the University
                                of North Carolina School of Medicine, and Chief of the Division of Gastroenterology and Hepatology at UNC.
                                Dr. Shaheen is a methodologist in clinical trials, and has served as principal investigator on multiple
                                large multicenter, multinational trials. Clinically, he is a recognized expert in esophageal diseases.
                                His research and clinical interests center on gastroesophageal reflux disease, and pre-cancerous and
                                cancerous conditions of the esophagus.  He has authored greater than 300 publications in these areas.
                                He has served as senior associate editor for the American Journal of Gastroenterology, and on multiple
                                other editorial boards. Dr. Shaheen receives research funding from the National Institutes of Health,
                                multiple societies, and private and public foundations.
                            </p>
                            <div class="read-more">read more</div>
                        </div>
                    </div>
                    <div class="img nicholas"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Maxine L. Stitzer, Ph.D.</div>
                        <div class="title">Professor of Psychiatry and Behavioral Sciences at Johns Hopkins University School of Medicine</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Dr. Stitzer is a founding faculty member of the Behavioral Pharmacology Research Unit, a nationally
                                recognized extramural substance abuse research laboratory within the Department of Psychiatry at Johns
                                Hopkins University School of Medicine. Her research interests have focused on both pharmacological
                                and behavioral approaches to the treatment of substance use disorders including opioid, stimulant and
                                tobacco use disorders. She is perhaps best known for her pioneering and continuing work on Contingency
                                Management in substance abuse treatment, an approach designed to enhance motivation for positive behavior
                                change. She has continuously sustained a productive grant-supported research program, published over
                                280 scientific papers, co-edited a book on methadone treatment, served on the AHRQ Smoking Cessation
                                Clinical Guidelines panel and been the recipient of numerous awards for outstanding contributions to
                                research on substance use disorders. She currently heads the Mid Atlantic Node of the National Institute
                                on Drug Abuse Clinical Trials Network (CTN), a project that conducts multi-site clinical trials testing
                                the effectiveness of substance abuse treatments implemented in either specialty or medical care settings.
                                Her interests continue to be focused on advancing the understanding of substance use disorders broadly
                                and promoting adoption of evidence-based treatments into clinical practice.
                            </p>
                            <div class="read-more">read more</div>
                        </div>
                    </div>
                    <div class="img maxine"></div>
                    <div class="close">read less</div>
                </div>
                <div class="advisor flex">
                    <div class="content">
                        <div class="name">Janice Tsoh, PhD</div>
                        <div class="title">Professor, Psychiatry at UCSF</div>
                        <div class="separator"></div>
                        <div class="text">
                            <p>
                                Janice Tsoh, PhD, is a Professor of Psychiatry at the University of California San Francisco,
                                School of Medicine. Dr. Tsoh’s research program has focused on reducing health disparities,
                                particularly in tobacco cessation treatment targeting vulnerable populations. Dr. Tsoh’s current
                                research is funded by the National Institutes on Health and the California Tobacco-Related
                                Disease Research Program, which targets tobacco use and health promotion among Asian Americans.
                                She has served as Principal Investigator on more than a dozen of clinical trials. Dr. Tsoh has
                                extensive experience in developing and testing interactive computerized tailored intervention
                                programs such as the “Pathways-to-Change Expert System” and “Video Doctor” in both clinical and
                                community settings. Dr. Tsoh’s research program targets hard-to-reach populations by the use of
                                family and peer social networks, and digital health technology to engage individuals in changing
                                their health behaviors.  Dr. Tsoh has specialties in questionnaire design, qualitative methods,
                                intervention development, clinical research methodology, and treatment outcome evaluation in
                                practice-based and community settings.
                            </p>
                            <div class="read-more">read more</div>
                        </div>
                    </div>
                    <div class="img janice"></div>
                    <div class="close">read less</div>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <button id="closeAdvisors" class="custom-button">Close Section</button>
        </div>
    </section>

    <section class="how">
        <div class="top-part">
            <div class="title">How we're doing this</div>
            <div class="subtitle">Lorem ipsum dolores park and a few more words</div>
        </div>
        <div class="bottom-part">
            <div class="main-wrapper">
                <div class="how-item flex reverse">
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Backed by Proven Science</div>
                        <div class="separator"></div>
                        <div class="text">
                            From our physician founder, to our clinical studies, to our staff of behavioral scientists and
                            researchers, everything we do comes back to proven science.
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="how-item flex">
                    <div class="img"></div>
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Supported with Personal Coaching</div>
                        <div class="separator"></div>
                        <div class="text">
                            Our Pivot coaches are specially trained in tobacco cessation and in how to help people set their
                            own goals—and reach them.
                        </div>
                    </div>
                </div>
                <div class="how-item flex reverse">
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Powered by Mobile Technology</div>
                        <div class="separator"></div>
                        <div class="text">
                            Between our first-of-its-kind mobile breath sensor and smartphone app, we meet people where they are,
                            because everyone’s needs and schedules are different. Our tech lets Pivot adapt to the person,
                            rather than the other way around.
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="how-item flex">
                    <div class="img"></div>
                    <div class="content">
                        <div class="subtitle">subheader</div>
                        <div class="title">Delivered with Modern Design</div>
                        <div class="separator"></div>
                        <div class="text">
                            Our experience designers and behavioral scientists have tailored every aspect of Pivot’s interactive
                            user experience to keep people engaged, entertained, and moving forward on their journey to better health.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="today flex">
        <div class="left-part">
            <h3>Sign up for the beta</h3>
            <h2>Pivot Today</h2>
            <p>
                Lorem ipsum dolores park, some enticing copy about registering for Pivot or something like that.
            </p>
            <button class="custom-button">Register</button>
        </div>
        <div class="right-part"></div>
    </section>
</div>