<div class="blog-wrapper">
    <section class="welcome">
        <h1>The Pivot Blog</h1>
        <h3>news, features & stories from the pivot team</h3>
    </section>

    <section class="posts">
        <div class="main-wrapper flex">
            <div class="post">
                <img src="../assets/images/temp-post-img1.png" alt="" />
                <div class="timestamp">Sep 21</div>
                <div class="title">Coach Spotlight - Wen Soon</div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu eleifend orci.
                    Sed varius mauris at nisl volutpat semper. Sed maximus ex et risus molestie ullamcorper.
                    In sodales suscipit pretium.
                </div>
                <button class="custom-button">Read full story</button>
            </div>
            <div class="post">
                <img src="../assets/images/temp-post-img2.png" alt="" />
                <div class="timestamp">Sep 21</div>
                <div class="title">Pivot COBSS recieves FDA clearance</div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu eleifend orci.
                    Sed varius mauris at nisl volutpat semper. Sed maximus ex et risus molestie ullamcorper.
                    In sodales suscipit pretium.
                </div>
                <button class="custom-button">Read full story</button>
            </div>
            <div class="post">
                <img src="../assets/images/temp-post-img3.png" alt="" />
                <div class="timestamp">Sep 21</div>
                <div class="title">Design at Carrot - Clearing the smoke</div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu eleifend orci.
                    Sed varius mauris at nisl volutpat semper. Sed maximus ex et risus molestie ullamcorper.
                    In sodales suscipit pretium.
                </div>
                <button class="custom-button">Read full story</button>
            </div>
            <div class="post">
                <img src="../assets/images/temp-post-img4.png" alt="" />
                <div class="timestamp">Sep 21</div>
                <div class="title">One brick at a time</div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu eleifend orci.
                    Sed varius mauris at nisl volutpat semper. Sed maximus ex et risus molestie ullamcorper.
                    In sodales suscipit pretium.
                </div>
                <button class="custom-button">Read full story</button>
            </div>
            <div class="post newsletter flex">
                <div class="icon"></div>
                <div class="label">Get Pivot news sent right to your inbox</div>
                <div class="send-email">
                    <input type="email" value="" placeholder="email@address.com" />
                    <div class="send-button"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="today flex">
        <div class="left-part">
            <h3>Sign up for the beta</h3>
            <h2>Pivot Today</h2>
            <p>
                Lorem ipsum dolores park, some enticing copy about registering for Pivot or something like that.
            </p>
            <button class="custom-button">Register</button>
        </div>
        <div class="right-part"></div>
    </section>
</div>