<div class="home-wrapper">
    <section class="welcome">
        <img src="../assets/images/home-splash10.png" class="parallax l10">
        <img src="../assets/images/home-splash9.png" class="parallax l9">
        <img src="../assets/images/home-splash8.png" class="parallax l8">
        <img src="../assets/images/home-splash7.png" class="parallax l7">
        <img src="../assets/images/home-splash6.png" class="parallax l6">
        <img src="../assets/images/home-splash5.png" class="parallax l5">
        <img src="../assets/images/home-splash4.png" class="parallax l4">

        <div class="parallax text">
            <h1>We believe in smokers.</h1>
            <p>
                Our unique technologies and personal coaching are designed to help you figure out what's
                best for you - and then support you in whatever you decide to do next.
            </p>
            <button class="custom-button center">See how it works</button>
        </div>

        <img src="../assets/images/home-splash3.png" class="parallax l3">
        <img src="../assets/images/home-splash2.png" class="parallax l2">
        <img src="../assets/images/home-splash1.png" class="parallax l1">
    </section>

    <section class="experience">
        <div class="main-wrapper flex">
            <div class="content">
                <div class="title">The Pivot Experience</div>
                <div class="text">
                    Quitting smoking isn't a one-size-fits-all decision. That's why Pivot begins with simple activities,
                    personal coaching, and a unique mobile sensor that help you understand your own smoking behavior.
                    Then it helps you use that knowledge to build a plan that works for you.
                </div>
                <button class="custom-button play">Watch the Pivot video</button>
            </div>
            <div class="img"></div>
        </div>
    </section>

    <section class="sensor">
        <div class="main-wrapper flex">
            <div class="content">
                <div class="title">The Pivot Experience</div>
                <div class="text">
                    Quitting smoking isn't a one-size-fits-all decision. That's why Pivot begins with simple activities,
                    personal coaching, and a unique mobile sensor that help you understand your own smoking behavior.
                    Then it helps you use that knowledge to build a plan that works for you.
                </div>
                <button class="custom-button play">Watch the Pivot video</button>
            </div>
            <div class="img"></div>
        </div>
    </section>

    <section class="privacy">
        <div class="main-wrapper flex">
            <div class="img"></div>
            <div class="info">
                <div class="title">privacy</div>
                <div class="text">
                    We take your privacy seriously. We won't share your personal information with anyone, including
                    your employer. Our full HIPAA compliance and strict privacy safeguards mean you can know your
                    personal data is safe and secure.
                </div>
                <div class="labels">Privacy Policy. HIPAA Notice.</div>
            </div>
        </div>
    </section>

    <section class="today flex">
        <div class="left-part">
            <h3>Sign up for the beta</h3>
            <h2>Pivot Today</h2>
            <p>
                Lorem ipsum dolores park, some enticing copy about registering for Pivot or something like that.
            </p>
            <button class="custom-button">Register</button>
        </div>
        <div class="right-part"></div>
    </section>
</div>