<div class="hiw-wrapper">
    <section class="register">
        <div class="main-wrapper">
            <h1>Before you quit, Pivot.</h1>
            <div class="separator"></div>
            <p>
                Pivot starts out easy - with a nine-day program that helps you understand your smoking behavior.
                Because once you know where you are, it's easier to figure out how to get where you want to go.
            </p>
            <button class="custom-button">Register</button>
        </div>
    </section>

    <section class="info flex">
        <div class="left-part"></div>
        <div class="right-part">
            <h3>Pivot</h3>
            <h2>How it works</h2>
            <p>
                Pivot has four main elements designed to work together for a truly unique
                and personalized experience. Before you start, you'll learn to get the
                most out of each one.
            </p>
        </div>
    </section>

    <section class="approach flex">
        <div class="left-part">

            <ul class="bxslider">
                <li>
                    <div class="img first"></div>
                </li>
                <li>
                    <div class="img second">
                        <video autoplay loop>
                            <source src="../assets/images/component2.mp4" type="video/mp4" />
                            <source src="../assets/images/component2.webm" type="video/webm" />
                        </video>
                    </div>
                </li>
                <li>
                    <div class="img third">
                        <video autoplay loop>
                            <source src="../assets/images/component3.mp4" type="video/mp4" />
                            <source src="../assets/images/component3.webm" type="video/webm" />
                        </video>
                    </div>
                </li>
                <li>
                    <div class="img fourth">
                        <video autoplay loop>
                            <source src="../assets/images/component4.mp4" type="video/mp4" />
                            <source src="../assets/images/component4.webm" type="video/webm" />
                        </video>
                    </div>
                </li>
            </ul>

        </div>
        <div class="right-part flex">
            <div class="step-item sensing">
                <div class="icon"></div>
                <div class="title">Sensing</div>
                <div class="text">
                    You'll use the Pivot Breath Sensor to measure carbon monoxide (CO) in your breath. CO is one of
                    the toxins that enter your bloodstream when you smoke. Measuring it throughout the day will give
                    you a view of your exposure to cigarette smoke.
                </div>
            </div>
            <div class="step-item logging">
                <div class="icon"></div>
                <div class="title">Logging</div>
                <div class="text">
                    The Pivot App's simple logging tool will let you track the cigarettes you smoke so you can see
                    things like how much time you spend smoking and how your smoking patterns affect your CO levels.
                </div>
            </div>
            <div class="step-item learning">
                <div class="icon"></div>
                <div class="title">Learning</div>
                <div class="text">
                    Pivot's interactive lessons and activities will help you discover new things about your smoking,
                    and they can walk you through proven techniques that break the challenge of quitting into small,
                    manageable steps.
                </div>
            </div>
            <div class="step-item coaching">
                <div class="icon"></div>
                <div class="title">Coaching</div>
                <div class="text">
                    You're not in this alone. Pivot's trained coaches will work with you one-on-one to help you understand
                    your smoking behaviors and decide whether or not you're interested in changing them.
                </div>
            </div>
        </div>
    </section>

    <section class="stages">
        <div class="main-wrapper">
            <div class="nav flex">
                <div class="dot explore"></div>
                <div class="line"></div>
                <div class="dot build"></div>
                <div class="line"></div>
                <div class="dot mobilize"></div>
                <div class="line"></div>
                <div class="dot quit"></div>
                <div class="line"></div>
                <div class="dot secure"></div>
                <div class="line"></div>
                <div class="dot sustain"></div>
            </div>

            <div class="bars flex">
                <div class="bar explore"></div>
                <div class="bar build"></div>
                <div class="bar mobilize"></div>
                <div class="bar quit"></div>
                <div class="bar secure"></div>
                <div class="bar sustain"></div>
            </div>

            <div class="content">
                <div class="move left"></div>
                <div class="move right"></div>

                <div class="stage title" data-stage="0">
                    <h1>The Pivot Journey</h1>
                    <div class="separator"></div>
                    <p>
                        The full Pivot experience unfolds over six stages designed to support you for up to 13 months.
                        Each stage uses behavioral science to help you set and reach personal goals.
                    </p>
                    <button class="custom-button">Learn More</button>
                </div>

                <div class="stage explore" data-stage="1" data-color>
                    <h3>stage one:</h3>
                    <h1>Explore</h1>
                    <div class="separator"></div>
                    <p>
                        It’s true: We don’t start with quit. We start with discovery. During these nine days, you get to
                        know your coach, use your new breath sensor, and complete daily activities.
                    </p>
                    <p class="goal">
                        Goal: To become more aware of your smoking behavior
                    </p>

                    <div class="chart">
                        <div class="value">9</div>
                    </div>
                </div>

                <div class="stage build">
                    <h3>stage two:</h3>
                    <h1>Build</h1>
                    <div class="separator"></div>
                    <p>
                        If you’re ready, you can work with your coach to build a quit plan in as quickly as one day.
                        If you’re still not sure, you can continue with activities and coaching designed to develop
                        skills and confidence.
                    </p>
                    <p class="goal">
                        Goal: Building skills and confidence
                    </p>

                    <div class="chart">
                        <div class="value">1-4</div>
                    </div>
                </div>

                <div class="stage mobilize">
                    <h3>stage three:</h3>
                    <h1>Mobilize</h1>
                    <div class="separator"></div>
                    <p>
                        Now that you’ve built a quit plan, you’ll work with your coach to set it in motion, using proven
                        strategies like choosing quit medications, arranging support, and preparing a craving kit.
                    </p>
                    <p class="goal">
                        Goal: Setting yourself up for a successful quit
                    </p>

                    <div class="chart">
                        <div class="value">1</div>
                    </div>
                </div>

                <div class="stage quit">
                    <h3>stage four:</h3>
                    <h1>Quit</h1>
                    <div class="separator"></div>
                    <p>
                        Because Pivot approaches quitting as a skillset, rather than a single act, you now have the skills
                        they need to take this next step—with the full support of your coach and the plan you laid out.
                    </p>
                    <p class="goal">
                        Goal: A full week without smoking
                    </p>

                    <div class="chart">
                        <div class="value">1</div>
                    </div>
                </div>

                <div class="stage secure">
                    <h3>stage five:</h3>
                    <h1>Secure</h1>
                    <div class="separator"></div>
                    <p>
                        Pivot is with you for the long haul. You’ll receive continued coaching, lessons, and practice
                        designed for the important first few weeks after you quit.
                    </p>
                    <p class="goal">
                        Goal: Adjusting to, and embracing, your new smoke-free life
                    </p>

                    <div class="chart">
                        <div class="value">11</div>
                    </div>
                </div>

                <div class="stage sustain">
                    <h3>stage six:</h3>
                    <h1>Sustain</h1>
                    <div class="separator"></div>
                    <p>
                        For up to a full year after your quit date, Pivot will help you continue to build skills and
                        confidence, while your coaches continue to deliver support and guidance
                    </p>
                    <p class="goal">
                        Goal: Locking in change for good
                    </p>

                    <div class="chart">
                        <div class="value">40</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="stages-mobile">
        <div class="main-wrapper">
            <ul class="bxslider">
                <li>
                    <div class="m-stage explore">
                        <h3>stage one:</h3>
                        <h1>Explore</h1>
                        <div class="separator"></div>
                        <p>
                            It’s true: We don’t start with quit. We start with discovery. During these nine days, you get to
                            know your coach, use your new breath sensor, and complete daily activities.
                        </p>
                        <p class="duration">Duration: 9 days</p>
                        <p class="goal">
                            Goal: To become more aware of your smoking behavior
                        </p>
                    </div>
                </li>
                <li>
                    <div class="m-stage build">
                        <h3>stage two:</h3>
                        <h1>Build</h1>
                        <div class="separator"></div>
                        <p>
                            If you’re ready, you can work with your coach to build a quit plan in as quickly as one day.
                            If you’re still not sure, you can continue with activities and coaching designed to develop
                            skills and confidence.
                        </p>
                        <p class="duration">Duration: 1-4 weeks</p>
                        <p class="goal">
                            Goal: Building skills and confidence
                        </p>
                    </div>
                </li>
                <li>
                    <div class="m-stage mobilize">
                        <h3>stage three:</h3>
                        <h1>Mobilize</h1>
                        <div class="separator"></div>
                        <p>
                            Now that you’ve built a quit plan, you’ll work with your coach to set it in motion, using proven
                            strategies like choosing quit medications, arranging support, and preparing a craving kit.
                        </p>
                        <p class="duration">Duration: 1 week</p>
                        <p class="goal">
                            Goal: Setting yourself up for a successful quit
                        </p>
                    </div>
                </li>
                <li>
                    <div class="m-stage quit">
                        <h3>stage four:</h3>
                        <h1>Quit</h1>
                        <div class="separator"></div>
                        <p>
                            Because Pivot approaches quitting as a skillset, rather than a single act, you now have the skills
                            they need to take this next step—with the full support of your coach and the plan you laid out.
                        </p>
                        <p class="duration">Duration: 1 week</p>
                        <p class="goal">
                            Goal: A full week without smoking
                        </p>
                    </div>
                </li>
                <li>
                    <div class="m-stage secure">
                        <h3>stage five:</h3>
                        <h1>Secure</h1>
                        <div class="separator"></div>
                        <p>
                            Pivot is with you for the long haul. You’ll receive continued coaching, lessons, and practice
                            designed for the important first few weeks after you quit.
                        </p>
                        <p class="duration">Duration: 11 weeks</p>
                        <p class="goal">
                            Goal: Adjusting to, and embracing, your new smoke-free life
                        </p>
                    </div>
                </li>
                <li>
                    <div class="m-stage sustain">
                        <h3>stage six:</h3>
                        <h1>Sustain</h1>
                        <div class="separator"></div>
                        <p>
                            For up to a full year after your quit date, Pivot will help you continue to build skills and
                            confidence, while your coaches continue to deliver support and guidance
                        </p>
                        <p class="duration">Duration: 40 weeks</p>
                        <p class="goal">
                            Goal: Locking in change for good
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="today flex">
        <div class="left-part">
            <h3>Sign up for the beta</h3>
            <h2>Pivot Today</h2>
            <p>
                Lorem ipsum dolores park, some enticing copy about registering for Pivot or something like that.
            </p>
            <button class="custom-button">Register</button>
        </div>
        <div class="right-part"></div>
    </section>
</div>