<div class="hiw-wrapper">
    <section class="register">
        <div class="main-wrapper">
            <h1>Before you quit, Pivot.</h1>
            <div class="separator"></div>
            <p>
                Pivot starts out easy - with a nine-day program that helps you understand your smoking behavior.
                Because once you know where you are, it's easier to figure out how to get where you want to go.
            </p>
            <button class="custom-button">Register</button>
        </div>
    </section>
</div>