<header>
    <div ui-sref="layout.home" class="logo left"></div>
    <nav class="left">
        <ul>
            <li ui-sref="layout.hiw" ui-sref-active="active">How it works</li>
            <li ui-sref="layout.about" ui-sref-active="active">About us</li>
            <li ui-sref="layout.faq" ui-sref-active="active">FAQ</li>
            <li ui-sref="layout.blog" ui-sref-active="active">Blog</li>
        </ul>
    </nav>

    <button class="custom-button register right">Register</button>
    <div class="login right">Log in</div>
</header>

<div ui-view></div>

<footer>
    <div ui-sref="layout.home" class="logo left"></div>
    <div class="copy left">&copy;Copyright {{currentYear}} Carrot Sense Inc.</div>
    <div class="link left">Terms & Conditions</div>
    <div class="link left">Privacy Policy</div>
    <div class="link left">HIPAA Notice</div>
    <div class="link left">FAQs</div>

    <a href="" class="social right">f</a>
    <a href="" class="social right">t</a>
    <a href="" class="social right">l</a>
    <div class="link right">Contact Us</div>
</footer>